<%@ Page Language="VB" Theme="" StyleSheetTheme="" %>
<%
    Application.Lock()
    Application("Closed") = True
    Application("INITCFGTABLE") = Nothing
    Application("INITIALIZEDSHOP") = Nothing
    Application.UnLock()
    Response.Write("DONE")
%>

