﻿/* Cart */
body,
table.Order tbody
{
	font-family: Tahoma;
	font-size: 11px;
	color: #636363;
}
table.Order
{
	width: 580px;
}

table.Order_Header
{
	width: 100%;
}
td.OrderHeader_Address,
td.OrderHeader_ShipToAddress
{
	text-align: left;	
	width: 50%;	
	vertical-align: top;
}
td.OrderHeader_Address
{
	padding-right: 10px;
}
td.OrderHeader_ShipToAddress
{
	padding-left: 10px;
}
table.Order_Address,
table.Order_ShipToAddress
{
	width: 100%;	
}
td.Order_AddressHeader,
td.Order_ShipToAddressHeader,
td.Order_AdditionalInfo_Label
{
	padding: 3px;
	font-weight: bold;	
	border-bottom: 1px dotted #999999;
}

table.Order_Date,
table.Order_PaymentInfo
{
	width: 100%;
	text-align: left;
}
table.Order_AdditionalInfo
{
	xfloat: left;
	text-align: left;
	xclear: both;
	width:100%;
}
table.Order_AdditionalInfo,
table.Order_PaymentInfo
{
	xclear: both;
	margin-bottom: 10px;	
}
td.Order_AdditionalInfo_Label
{
	width: 50%;	
}
td.Order_DateCaption,
td.Order_PONumberCaption,
td.Order_CommentCaption,
td.Order_PaymentTypeCaption,
td.Order_PaymentTransactionCaption
{
	width: 50%;
	padding-right: 10px;
}
td.Order_DateValue,
td.Order_PONumberValue,
td.Order_CommentValue,
td.Order_PaymentTypeValue,
td.Order_PaymentTransactionValue
{
	width: 50%;
}
table.OrderLines
{
	clear: both;
	width: 100%;	
}
tr.CartLineFields td,
tr.CartLineFieldsAlt td

{
	background-color: #ffffff;
	padding-top: 5px;
	padding-right: 5px;
	border-bottom: 1px dotted #999999;
}
th.CartLineHeader_Thumbnail,
th.CartLineHeader_Total,
th.CartLineHeader_Comment
{
	padding: 2px;
	text-align: right;
	padding-left: 10px;
}
th.CartLineHeader_Quantity,
th.CartLineHeader_Price,
th.CartLineHeader_DiscountAmount,
th.CartLineHeader_DiscountPct
{
    text-align: center;
}
th.CartLineHeader_Name
{
	padding: 2px;
	text-align: left;
}

th.CartLineHeader_ProductGuid,
th.CartLineHeader_Comment
{
	/*display: none;	*/
}
td.CartLineField_Thumbnail
{
	width:100px;
	text-align:center;
	vertical-align:middle;
}
td.CartLineField_EditComment
{
	display: none;
}
div.CartLineField_DeleteText
{
	display: none;
}
div.CartLineField_DeleteImage
{
	padding-top: 2px;
}
img.CartLineField_DeleteImage
{
	height: 16px;
	width: 16px;
	background-image: url('delete.png');
	background-repeat: no-repeat;
}

td.CartLineCaption_ProductGuid,
td.CartLineCaption_Name,
td.CartLineCaption_VariantName,
td.CartLineCaption_EditQuantity,
td.CartLineCaption_Quantity,
td.CartLineCaption_Price,
td.CartLineCaption_DiscountAmount,
td.CartLineCaption_DiscountPct,
td.CartLineCaption_Total,
td.CartLineCaption_Delete,
td.CartLineCaption_Comment
{
	display: none;	
}
td.CartLineField_Name,
td.CartLineField_NameAndVariant,
td.CartLineField_EditQuantity,
td.CartLineField_Quantity,
td.CartLineField_Price,
td.CartLineField_DiscountAmount,
td.CartLineField_DiscountPct,
td.CartLineField_Total,
td.CartLineField_Comment
{
	vertical-align: top;	
	line-height: 20px;
}
td.CartLineField_NameAndVariant
{
	text-align: left;
}

/*
td.CartLineField_NameAndVariant
{
	border: 1px solid green;	
}
div.CartLineField_NameAndVariant
{
	width: 400px;
	margin-left: -400px;
	position: relative;
	left: 450px;
}
*/
div.CartLineField_NameAndVariant a
{
	color: #323232;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
}
td.CartLineField_ProductGuid,
td.CartLineField_Name,
td.CartLineField_VariantName
{
	/*display: none;	*/
}
input.CartLineField_EditQuantity
{
	width: 30px;
	font-size: 10px;
}

table.OrderTotals
{
	width: 100%;	
}
td.CartTotals_SubTotalCaption,
td.CartTotals_InvoiceDiscountCaption,
td.CartTotals_ServiceChargeCaption,
td.CartTotals_ShippingCaption,
td.CartTotals_HandlingCaption,
td.CartTotals_TotalCaption,
td.CartTotals_TaxCaption,
td.Order_ShippingInfoCaption
{
	text-align: right;	
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}
td.CartTotals_SubTotalValue,
td.CartTotals_InvoiceDiscountValue,
td.CartTotals_ServiceChargeValue,
td.CartTotals_ShippingValue,
td.CartTotals_HandlingValue,
/* AM2010042601 - ENTERPRISE SHIPPING - Start */
td.CartTotals_FreeShippingValue,
td.CartTotals_FreeHandlingValue,
/* AM2010042601 - ENTERPRISE SHIPPING - End */
td.CartTotals_TotalValue,
td.CartTotals_TaxValue,
td.Order_ShippingInfoValue
{
	
	width: 100px;
	text-align: right;
}
/* AM2010042601 - ENTERPRISE SHIPPING - Start */
td.CartTotals_FreeShippingValue,
td.CartTotals_FreeHandlingValue
{
    color:Red;
}
/* AM2010042601 - ENTERPRISE SHIPPING - End */
table.Order_TAX_Message
{
	width: 100%;	
}
td.Order_TAX_Message
{
	padding-top: 20px;
	text-align: left;
}

/* Numeric Fields */

td.CartLineField_Total,
td.CartTotals_SubTotalValue,
td.CartTotals_InvoiceDiscountValue,
td.CartTotals_ServiceChargeValue,
td.CartTotals_ShippingValue,
td.CartTotals_HandlingValue,
/* AM2010042601 - ENTERPRISE SHIPPING - Start */
td.CartTotals_FreeShippingValue,
td.CartTotals_FreeHandlingValue,
/* AM2010042601 - ENTERPRISE SHIPPING - End */
td.CartTotals_TotalValue,
td.CartTotals_TaxValue
{
	text-align: right;
}
td.CartLineField_Quantity,
td.CartLineField_EditQuantity,
td.CartLineField_Price,
td.CartLineField_DiscountAmount,
td.CartLineField_DiscountPct
{
	text-align: center;	
}
td.CartTotals_TotalValue
{
	border-top: 1px solid #999999;
	font-weight: bold;
}
/*AM2010061801 - KITTING - START*/
div.CartLineField_KittingText  {
top:-75px;
position:relative;
}
div.CartLineField_KittingText_Inside  {
top:-70px;
position:relative;
background-color:White;
width:440px;
border:1px solid;
padding:10px;
}
/*AM2010061801 - KITTING - END*/

/* WLB 12-07-2012 : Layout of "Additional Address" BEGIN */
div.ShippingTableOutputDisplayDiv 
{
    /* The Box Around the Whole Section */
}

div .ShippingTableOutputDisplayDiv .RadioDiv
{
    /* The Radio Button */
    clear: both;
    position: relative;
    left: -90px;
    width: 100px;
}

div .ShippingTableOutputDisplayDiv .ssiChooseAddress
{
    /* The "Block" with labels and text fields */
    clear: both;
    position: relative;
    left: -90px;
}

div .ShippingTableOutputDisplayDiv .TDR 
{
    /* The Labels */
    text-align: left;
    width: 80px;
}

div .ShippingTableOutputDisplayDiv .shippingAddressTextBox
{
    /* The Text Boxes */
    width: 200px;
}
/* WLB 12-07-2012 : Layout of "Additional Address" END */
