﻿.PanelOuterMessages
{
	background: #ffffff;
	margin-bottom: 5px;
}
.MessageBlock
{
}
.PanelActions,
.PanelErrors,
.PanelWarnings,
.PanelMessages
{
	padding: 10px;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	min-height: 30px;
	line-height: 20px;
	margin-bottom: 5px;
}
.PanelActions
{
	border: 2px solid #66cc66;
	background-color: #f0fff0;
	background-image: url('Messages/action.png');
}
.PanelErrors
{
	border: 2px solid #cc6666;
	background-color: #fff0f0;
	background-image: url('Messages/error.png');
}
.PanelWarnings
{
	border: 2px solid #cccc66;
	background-color: #fffff0;
	background-image: url('Messages/warning.png');
}
.PanelMessages
{
	border: 2px solid #6666cc;
	background-color: #f0f0ff;
	background-image: url('Messages/message.png');
}
