﻿body
{
    padding: 0;
    margin: 0;
}
/* Regular Text Styles */
/* AM0122201001 - UOM - Start */
body, td, input, textarea, select, option /* AM0122201001 - UOM - End */
{
    font-size: 11px;
    font-family: Tahoma;
    color: #6C6C6C;
    line-height: 13px;
    vertical-align: top;
    padding: 0px;
}
/*Top Menu Color*/
.menu
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #73B7DA none repeat scroll 0 0;
    padding: 0;
    width: 100%;
    height: 31px;
}



.PageHeader
{
    display: none;
}
h1
{
    font-size: 15px;
}
h2
{
    font-size: 13px;
}
/*Links Styles*/
a, a:visited, a:link
{
    color: #3F9AC9;
}
/*Catalog tree text color*/

a.CatalogText
{
    color: #3F9AC9;
}
/*Shipping box styles*/
div.providerPanel
{
    border: 1px solid #999999;
}
/*JA2010092201 - RECURRING ORDERS - START*/
.RecurringStyles
{
    border: 1px solid #999999;
    padding:5px;
}
/*JA2010092201 - RECURRING ORDERS - END*/
/*Additional Information box styles*/
td.AdicionalInfoStyle
{
    border: 1px solid #999999;
    width: 330px;
    height: 100px;
}
/*Additional Information box styles*/
td.borderStyle
{
    border: 1px solid #999999;
    width: 330px;
    height: 100px;
}
/*Quick Cart box styles*/
table.CartProductEntry
{
    border: 1px solid #999999;
    width: 135px;
    height: 60px;
}

/* Size of the website */
table.MainTable
{
    width: 1000px;
}
/*Logo Top Page*/

#LogoIndex
{
 background-image:url('logo.gif');
 background-repeat:no-repeat;
}

td.menu_separator
{
    background-image: url(  'menu_separator.gif' );
    background-repeat: no-repeat;
    padding: 0 1px;
}
td.menuItems
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(mark_menu.gif) no-repeat scroll 5px center;
    cursor: pointer;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 31px;
    line-height: 12px;
    padding: 0 15px 0 15px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    text-decoration: none;
}
td.z1
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    height: 31px;
    width: 125px;
    vertical-align: middle;
}

.infoBoxHeading_td
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #EDF0F2 none repeat scroll 0 0;
    margin: 0;
    line-height: 12px;
    height: 26px;
    padding: 7px 8px 7px 18px;
    vertical-align: top;
    width: 100%;
}

table.boxText a
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    color: #3F9AC9;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    padding: 2px 1px 4px 0px;
    text-decoration: none;
}

/*
 * Top Menu
 */
div.TopMenu div.MenuItem
{
    display: inline;
}
div.TopMenu div.MenuItem div
{
    display: inline;
    background-image: url(blueball.gif);
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 0px;
    padding-left: 12px;
    margin-right: 20px;
}
div.TopMenu div.MenuItem A
{
    color: #0097c2;
    font-size: 11px;
}
div.TopMenu div.MenuItemSeparator, div.TopMenu div.MenuItemSeparatorFirst, div.TopMenu div.MenuItemSeparatorLast
{
    display: none;
}
div.TopMenu div div.MenuItem_Search, div.TopMenu div div.MenuItemSeparator_Search, div.TopMenu div div.MenuItem_Order, div.TopMenu div div.MenuItemSeparator_Order, div.TopMenu div div.MenuItem_Cart, div.TopMenu div div.MenuItemSeparator_Cart, div.TopMenu div div.MenuItem_Catalog, div.TopMenu div div.MenuItemSeparator_Catalog, div.TopMenu div div.MenuItem_InformationPage, div.TopMenu div div.MenuItemSeparator_InformationPage
{
    display: none;
}

/*
 * Bottom Menu
 */
div.BottomMenu div.MenuItem
{
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}
div.BottomMenu div.MenuItem A
{
    color: #676767;
    font-size: 11px;
}
div.BottomMenu div.MenuItemSeparator
{
    float: left;
    border-left: 1px solid #999999;
    margin-left: 6px;
    margin-right: 6px;
    width: 0px;
    height: 10px;
    margin-top: 2px;
}
div.BottomMenu div.MenuItemSeparatorFirst, div.BottomMenu div.MenuItemSeparatorLast
{
    display: none;
}


#MasterSearchBox
{
    width: 555px;
    background: url(          'top.gif' );
    height: 103px;
}
.MasterSearchButton
{
    background-image: url(button_search_prod.gif);
    background-position: center center;
    background-repeat: no-repeat;
    width: 68px;
    height: 20px;
}
/* Search Styles */
input.QuickSearch
{
    border: #C6DCE7 2px solid;
	 
	 
	 
    height: 13px;
    width: 120px;
    background-color: #ffffff;
}
td.QuickSearch_Button
{
    padding-left: 10px;
}
br.BoxSeperator
{
    line-height: 30px;
}
div.CatalogTree
{
    color: #353535;
    text-decoration: none;
}
div.CatalogTreeNode:hover, div.CatalogTreePath:hover, div.CatalogTreeSelected:hover
{
    color: #a10e04;
    background: #f6fde3;
}
div.CatalogTreeNode, div.CatalogTreePath, div.CatalogTreeSelected
{
    background: #e6edc3;
    height: 19px;
    border-bottom: 1px solid #ffffff;
    line-height: 19px;
}
div.CatalogTreeImageNode, div.CatalogTreeImagePath, div.CatalogTreeImageSelected
{
    width: 20px;
    height: 19px;
    background-image: url(catlist.gif);
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

table.CatalogTreeNode
{
    width: 100%;
    background: #e6edc3;
    height: 19px;
    border-bottom: 1px solid #ffffff;
    line-height: 19px;
}
table.CatalogTreeNode:hover
{
    width: 100%;
    background: #f6fde3;
}
div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeImageSelected
{
    width: 37px;
}
div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageSelected
{
    width: 57px;
}
div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageSelected
{
    width: 77px;
}

div.CatalogTreeIndent
{
    margin-left: 0px;
}
div.CatalogTreeNode, div.CatalogTreePath, div.CatalogTreeSelected
{
    cursor: pointer;
}
/*
 * <!--JA2010061701 - SLIDE SHOW - Start-->
 */

#gallerys
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    border: 6px solid #FFFFFF;
    margin: 40px auto;
    padding: 10px;
    position: relative;
}
#box
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #FFFFFF url(/EIS30AA/controls/slideshow/images/loading.gif) no-repeat scroll center center;
    border: 2px solid #666666;
    height: 170px;
    padding: 5px;
    position: relative;
    width: 170px;
}
#image img
{
    height: 170px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 170px;
}
#textimage
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #FFFFFF none repeat scroll 0 0;
    border: 2px solid #666666;
    height: 170px;
    padding: 5px;
    position: relative;
    width: 389px;
}
#thumbwrapper
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #FFFFFF none repeat scroll 0 0;
}
#thumbarea
{
    overflow: hidden;
    position: relative;
}
#thumbs
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-top: 12px;
    position: absolute;
    padding-left:0px;
    margin-left:0px;
    
}
#thumbs li
{
    cursor: pointer;
    float: left;
    list-style-type: none;
}
#thumbs li img
{
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
}
.imgnavLeft
{
    cursor: pointer;
    height: 200px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    position: absolute;
    z-index: 100;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    border-left: 0 solid #FFFFFF;
    left: 0;
}
.imgnavRight
{
    cursor: pointer;
    height: 200px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    position: absolute;
    z-index: 100;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    border-right: 0 solid #FFFFFF;
    right: 0;
}
.imgnavVerticalTop
{
    cursor: pointer;
    height: 10%;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    position: absolute;
    width: 188px;
    z-index: 100;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    border-left: 0 solid #FFFFFF;
    left: 0;
}
.imgnavVerticalBottom
{
    cursor: pointer;
    height: 10%;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    position: absolute;
    width: 188px;
    z-index: 100;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    border-right: 0 solid #FFFFFF;
    right: 0;
}

/*
 * <!--JA2010061701 - SLIDE SHOW - End-->
 */




/* Breadcrumbs */

div.Breadcrumb, div.BreadcrumbSeparator
{
    display: inline;
    color: #99ccff;
    font-size: 10px;
}
div.Breadcrumb
{
}
a.Breadcrumb, a.Breadcrumb:link, a.Breadcrumb:visited
{
    color: #1F4356;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
a.Breadcrumb:hover
{
    text-decoration: underline;
}
div.BreadcrumbSeparator
{
    padding-left: 5px;
    padding-right: 5px;
}

/**********/
table.BoxTable, table.BoxHeaderTableOuter, table.BoxContentTableOuter
{
    width: 100%;
}
td.BoxHeaderCellOuter, td.BoxContentCellOuter
{
    padding-left: 0px;
    padding-right: 0px;
}
td.BoxHeaderLeft, td.BoxHeaderRight, td.BoxHeaderCenter
{
    line-height: 21px;
}
td.BoxHeaderLeft
{
    background-image: url(box_header_left.PNG);
    background-repeat: no-repeat;
    background-position: 0 top;
    width: 7px;
}
td.BoxHeaderRight
{
    background-image: url(box_header_right.PNG);
    background-repeat: repeat-x;
    width: 7px;
    background-repeat: no-repeat;
    background-position: right top;
}
td.BoxHeaderCenter
{
    background-image: url(box_header_center.PNG);
    background-repeat: repeat;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    font-variant: small-caps;
    padding-left: 0px;
    text-align: center;
    vertical-align: middle;
}
td.BoxHeaderCenter a
{
    color: #1F4356;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
td.BoxContentLeft, td.BoxContentRight
{
    display: none;
}

/****/
table#contentBoxHeaderTableOuter
{
    width: auto;
    padding: 0;
    border-collapse: collapse;
}
tr#contentBoxUnderHeaderRowOuter
{
    display: none;
}
td#contentBoxHeaderLeft, td#contentBoxHeaderRight, td#contentBoxHeaderCenter
{
    height: 21px;
    line-height: 21px;
}
td#contentBoxHeaderLeft
{
    background-image: url(content_box_header_left.gif);
    background-repeat: repeat-x;
    width: 7px;
}
td#contentBoxHeaderRight
{
    background-image: url(content_box_header_right.gif);
    background-repeat: repeat-x;
    width: 7px;
    background-repeat: no-repeat;
    background-position: right top;
}
td#contentBoxHeaderCenter
{
    background-image: url(content_box_header_center.gif);
    background-repeat: repeat-x;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    font-variant: small-caps;
    padding-left: 10px;
    padding-right: 10px;
}
td#contentBoxContentCenter
{
    border: 1px solid #0e799c;
    padding: 10px;
}
/****/


div.ProductDisplayVertical
{
    text-align: center;
}
div.ProductDisplayVerticalImage
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
div.ProductDisplayVerticalProductName
{
    text-align: center;
    line-height: 20px;
}
div.ProductDisplayVerticalProductName A
{
    font-size: 12px;
    font-weight: 700;
    color: #323232;
    text-align: center;
    text-decoration: none;
}
div.ProductDisplayVerticalProductName A:hover
{
    text-decoration: underline;
}
div.ProductDisplayVerticalProductPrice, div.ProductDisplayVerticalOldProductPrice
{
    text-align: center;
    line-height: 20px;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
div.ProductDisplayVerticalProductPrice A
{
    font-size: 12px;
    font-weight: 700;
    color: #5d9c1a;
    text-align: center;
    text-decoration: none;
}
div.ProductDisplayVerticalProductPrice A:hover
{
    text-decoration: underline;
}
div.ProductDisplayVerticalOldProductPrice A
{
    font-size: 12px;
    font-weight: 700;
    color: #a8a8a8;
    text-align: center;
    text-decoration: line-through;
}
div.ProductDisplayVerticalOldProductPrice A:hover
{
    text-decoration: line-through;
}
div.ProductDisplayVerticalPrices
{
    text-align: center;
    width: 100%;
}
div.LanguageFlagsBoxContent
{
    text-align: center;
    padding-top: 6px;
}
div.LanguageFlags
{
    text-align: center;
}
div.LanguageFlags table
{
    display: inline;
}

div.LanguageDropDown
{
    padding-top: 6px;
    padding-left: 8px;
}

div.creditCardBoxContent
{
    text-align: center;
    padding-top: 6px;
}

div.CurrencyDropDown
{
    text-align: center;
    padding-top: 6px;
    padding-left: 4px;
}
div.LoginBoxContent
{
    padding: 6px;
}


table.GroupProductList
{
}
td.GroupProductListItem
{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
/* AM0122201001 - UOM - Start */
div.ProductDisplayList
{
    background: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    /*height: 350px;*/
    margin-bottom:30px;
    width: 257px;
}


div.ProductDisplayList3
{
    background: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    width: 270px;
    padding-bottom: 30px;
}
/* AM0122201001 - UOM - End */
div.ProductDisplayList2
{
    width: 145px;
    height: 190px;
    border: 1px solid #ffffff;
    position: relative;
    padding-top: 0px;
}
table.ProductDisplayListForm2
{
    width: 100%;
}

/* AM2010051801 - SPECIAL ITEMS - Start */
td.ProductDisplayList_SpecialPrice a
{
    color: #FF0000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

/* AM2010051801 - SPECIAL ITEMS - End */
div.ProductDisplayList_Price2 a
{
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    font-weight: 700;
    color: #5d9c1a;
    text-decoration: none;
}
div.ProductDisplayList_SecondaryPrice2 a
{
    position: absolute;
    bottom: 40px;
    right: 0px;
    font-size: 10px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
}
div.ProductDisplayList_SecondaryPrice a
{
    color: #666666;
    font-size: 8px;
    font-weight: 700;
    text-decoration: none;
}
div.ProductDisplayList_Guid
{
    display: none;
}
div.ProductDisplayList_Name2
{
    background-image: url(blueball.gif);
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 15px;
}
td.ProductDisplayList_Thumbnail
{
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
}
div.ProductDisplayList_Thumbnail2
{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}
/* AM0122201001 - UOM - Start */
div.ProductDisplayList_Name, div.ProductDisplayList_Description, div.ProductDisplayList_Qty
{
    position: absolute;
    left: 98px;
    width: 150px;
}
td.UOMDescription
{
    width: 150px;
    padding-left: 5px;
}
/* AM0122201001 - UOM - End */
div.ProductDisplayList_Name
{
    height: 25px;
    line-height: 35px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    vertical-align: middle;
    width: 100%;
}
td.ProductDisplayList_Name, a.ProductDisplayList_Name
{
    color: #323232;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}
td.ProductDisplayList_Description
{
    padding-bottom: 10px;
    width: 100%;
    height: 65px;
    color: #323232;
}
td.ProductDisplayList_Description a
{
    color: #6C6C6C;
    text-decoration: none;
}
/* AM0122201001 - UOM - Start */
div.ProductDisplayList_Qty
{
    height: 50px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 260px;
    left: 0;
    width: 100%;
}
div.ProductDisplayList_QtyUOM
{
    height: 17px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
}
div.ProductDisplayList_UOM
{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 245px;
    left: 0;
}
/* AM0122201001 - UOM - End */
div.ProductDisplayList_Description2
{
    display: none;
}
div.ProductDisplayList_Description a
{
    color: #636363;
    font-size: 11px;
    vertical-align: middle;
    text-decoration: none;
}
div.ProductDisplayList_Qty a
{
    color: #636363;
    font-size: 11px;
    vertical-align: middle;
    text-decoration: none;
}
div.ProductDisplayList_DetailsLink, div.ProductDisplayList_AddButton, div.ProductTemplate_AddToFavoritesButton
{
    height: 27px;
    line-height: 27px;
}
div.ProductDisplayList_AddButton2
{
    position: absolute;
    bottom: 0px;
}
div.ProductDisplayList_DetailsLink2
{
    position: absolute;
    bottom: 23px;
    padding-left: 17px;
    background-image: url(button_details.gif);
    background-repeat: no-repeat;
    background-position: left 1px;
    text-transform: uppercase;
}
/*Details Button Styles (group template)*/
div.ProductDisplayList_DetailsLink
{
    width: 120px;
    display: block;
    overflow: hidden;
    top: 320px;
    left: 0px;
    text-align: center;
    background-color: #D1DBDF;
}
div.ProductDisplayList_DetailsLink a
{
    color: #323232;
    font-weight: bold;
}
/*Add To Favorites Button Styles (group template)*/
div.ProductTemplate_AddToFavoritesButton
{
    width: 120px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 320px;
    left: 0px;
    text-align: center;
    background-color: #D1DBDF;
}
.AddToFavoritesButton
{
    width: 120px;
    height: 27px;
    vertical-align: middle;
    background-color: #D1DBDF;
    color: #323232;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}
div.ProductTemplate_AddToFavoritesButton a
{
    text-decoration: none;
    color: #323232;
    font-weight: bold;
}

/*Add To Cart Button Styles (group template)*/
div.ProductDisplayList_AddButton
{
    width: 120px;
    display: block;
    overflow: hidden;
    top: 320px;
    left: 137px;
    text-align: center;
    background-color: #73B7DA;
    color: White;
}
.AddButton
{
    width: 120px;
    height: 27px;
    vertical-align: middle;
    background-color: #73B7DA;
    color: White;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 11px;
}
.AddButton.Processing {
    background-color:gray;
    color:white;
    cursor:not-allowed;
}

div.ProductDisplayList_AddButton a
{
    color: White;
    font-weight: bold;
    text-decoration: none;
}

/* AM0122201001 - UOM - Start */

/*AM2010021901 - VARIANTS - Start*/
div.ProductDisplayList_Variants
{
    position: absolute;
    top: 115px;
    width: 150px;
    display: block;
    overflow: hidden;
    left: 98px;
    padding-top: 3px;
}

div.ProductDisplayList_Variants a
{
    color: #5d9c1a;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
div.ProductDisplayList_VariantsPrice
{
    position: absolute;
    top: 115px;
    width: 95px;
    display: block;
    text-align: center;
    overflow: hidden;
    left: 0px;
    padding-top: 3px;
}

div.ProductDisplayList_VariantsPrice a
{
    color: #5d9c1a;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
div.ProductDisplayList_VariantsSecondaryPrice
{
    position: absolute;
    top: 100px;
    width: 95px;
    display: block;
    overflow: hidden;
    text-align: center;
    left: 0px;
    padding-top: 3px;
}
div.ProductDisplayList_VariantsSecondaryPrice a
{
    color: #666666;
    font-size: 8px;
    font-weight: 700;
    text-decoration: none;
}
/*AM2010021901 - VARIANTS - End*/
/* AM2010051801 - SPECIAL ITEMS - Start */
td.ProductDisplayList_Price, del.ProductDisplayLis_Price, td.ProductDisplayList_Price a, td.ProductDisplayList_Price input /* AM2010051801 - SPECIAL ITEMS - End */
{
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
    text-decoration: none;
}
div.ProductDisplayList_SecondaryPrice
{
    position: absolute;
    top: 100px;
    width: 150px;
    display: block;
    overflow: hidden;
    text-align: center;
    left: 98px;
    padding-top: 3px;
}

/* AM0122201001 - UOM - End */

/********************/
/*                  */
/* PRODUCT TEMPLATE */
/*                  */
/********************/
div.ProductTemplate
{
    padding-left: 5px;
    padding-right: 5px;
}
table.ProductTemplate
{
    width: 100%;
    margin-right: 20px;
}
table.ProductTemplate td
{
    vertical-align: top;
}

div.ProductTemplate_Heading
{
    color: #000000;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    margin-left: 0px;
    padding-left: 12px;
}
div.ProductTemplate_Description
{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 12px;
}
div.ProductTemplate_Picture
{
    height: 140px;
    width: 120px;
    line-height: 120px;
    text-align: center;
}

div.ProductTemplate_Buttons
{
    padding: 10px;
    padding-bottom: 10px;
}
table.ProductTemplate_Buttons
{
    width: 100%;
}
table.ProductTemplate_Buttons td
{
    text-align: center;
}
div.ProductTemplate_AddToCartButton
{
}
div.ProductTemplate_AdditionalInformation
{
    margin-bottom: 10px;
    padding-left: 12px;
}
div.ProductTemplate_AdditionalHeading, div.ProductTemplate_RelatedHeading
{
    color: #000000;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
}
div.ProductTemplate_Related
{
    padding-top: 10px;
}
div.ProductTemplate_Related table
{
    width: 100%;
}
div.ProductTemplate_Caption_Price, div.ProductTemplate_Caption_SKU, div.ProductTemplate_SKU
{
    display: none;
}
div.ProductTemplate_Price, div.ProductTemplate_Price input, div.ProductTemplate_Price table
{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}
div.ProductBoxSmall_ProductName a
{
    color:#323233;
    font-weight:bold;
    text-decoration:none;
}
/* AM2010051801 - SPECIAL ITEMS - Start */
div.ProductTemplate_SpecialPrice, del.ProductTemplate_SpecialPrice
{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}
/* AM2010051801 - SPECIAL ITEMS - End */
div.ProductTemplate_SecondaryPrice
{
    text-align: center;
    color: #999999;
    font-weight: normal;
    font-size: 10px;
}
div.ProductTemplate_Enlarge
{
    text-align: center;
    margin-bottom: 10px;
}
div.ProductTemplate_Enlarge a
{
    color: #333333;
    text-decoration: underline;
}
div.ProductTemplate_Hyperlink div.ProductTemplate_Attachment
{
    height: 20px;
}
div.AttachmentSubTypeDOC a, div.AttachmentSubTypePDF a, div.AttachmentSubTypeXLSX a, div.AttachmentSubTypePPT a, div.AttachmentSubTypeTXT a, div.ProductTemplate_Hyperlink a
{
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
}
div.AttachmentSubTypeDOC a
{
    background-image: url(../../images/filetypes/doc16.png);
}
div.AttachmentSubTypePDF a
{
    background-image: url(../../images/filetypes/pdf16.png);
}
div.AttachmentSubTypeTXT a
{
    background-image: url(../../images/filetypes/txt16.png);
}
div.AttachmentSubTypeXLSX a
{
    background-image: url(../../images/filetypes/xls16.png);
}
div.AttachmentSubTypePPT a
{
    background-image: url(../../images/filetypes/ppt16.png);
}
div.ProductTemplate_Hyperlink a
{
    background-image: url(../../images/internet16.png);
}
div.ProductTemplate_Separator
{
    height: 0px;
}
/*Customers who bought this product also bought **** STYLES */
div.ProductTemplate_RelatedHeading
{
    background: #73B7DA;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    border: 1px solid #73B7DA;
    color: White;
    font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;
}
/***************/
/*             */
/* PRODUCT BOX */
/*             */
/***************/
div.ProductBoxSmall1
{
}
table.CenterImage
{
    width: 100%;
}
table.CenterImage td
{
    text-align: center;
}
div.ProductBoxSmall2
{
    text-align: center;
}
div.ProductBoxSmall1 img
{
    border: 0;
}

/* Product_Big */

div.ProductTemplate_Big
{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

div.ProductTemplate_Big_Information
{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

div.ProductPicture img
{
    padding-top: 20px;
    padding-left: 90px;
    padding-bottom: 30px;
}

div.ProductTemplate_Big_Description
{
    padding-right: 0px;
}

div.ProductTemplate_Big_Sku
{
    color: Black;
    font-weight: 700;
    font-size: 14px;
}

div.ProductTemplate_Big_Price
{
    padding-top: 20px;
    color: #5d9c1a;
    font-weight: 700;
    font-size: 14px;
}

div.ProductTemplate_Big_Vat
{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5d9c1a;
    font-weight: 700;
    font-size: 14px;
}

div.ProductTemplate_Big_Buttons
{
    text-align: left;
    padding-bottom: 20px;
}

div.Product_Big_Related
{
    width: 100%;
}

div.Product_Big_Related td
{
    padding-left: 10px;
    padding-bottom: 5px;
    vertical-align: top;
}

div.ProductTemplate_Big_AddToCartButton
{
    padding-left: 5px;
}

div.ProductTemplate_Big_AddToFavoritesButton
{
    padding-left: 5px;
}

div.ProductTemplate_Big_AdditionalInformation
{
    padding-top: 10px;
}

div.ProductTemplate_Big_AdditionalInformation img
{
    /*float: left;*/
}

div.ProductTemplate_Big_AdditionalHeading
{
    color: #666666;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    line-height: 14px;
}

/*
  $Id: stylesheet.css,v 1.56 2003/06/30 20:04:02 hpdl Exp $

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2003 osCommerce

  Released under the GNU General Public License
*/

.boxText
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}
.errorBox
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background: #ffb3b5;
    font-weight: bold;
}
.stockWarning
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #cc0033;
}
.productsNotifications
{
    background: #D7E9F7;
}
.orderEdit
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #323233;
    text-decoration: underline;
}
/*Background color of the website*/
BODY
{
    background: #ffffff;
    color: #000000;
    margin: 0px;
}

.infoBox
{
    background: #0e799c;
}

.infoBoxContents
{
    background: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

/*  A {
  color: #000000;
  text-decoration: none;
}

A:hover {
  color: #AABBDD;
  text-decoration: underline;
}  */

FORM
{
    display: inline;
}
R.header
{
    background: #ffffff;
}
TR.headerNavigation
{
    background: #bbc3d3;
}
TD.headerNavigation
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight: bold;
}
/*  A.headerNavigation { 
  color: #FFFFFF; 
}

A.headerNavigation:hover {
  color: #ffffff;
}  */

TR.headerError
{
    background: #ff0000;
}
TD.headerError
{
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    background: #ff0000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
TR.headerInfo
{
    background: #00ff00;
}
TD.headerInfo
{
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    background: #00ff00;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
/*  TR.footer {
  background: #bbc3d3;
}  

TD.footer {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #bbc3d3;
  color: #ffffff;
  font-weight: bold;
}*/
.infoBoxNotice
{
    background: #FF8E90;
}
.infoBoxNoticeContents
{
    background: #FFE6E6;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}
TD.infoBoxHeading
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background: #bbc3d3;
    color: #ffffff;
}
TD.infoBox, SPAN.infoBox
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}
TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd
{
    background: #f8f8f9;
}
TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even
{
    background: #f8f8f9;
}
TABLE.productListing
{
    border: 1px;
    border-style: solid;
    border-color: #b6b7cb;
    border-spacing: 1px;
}
.productListing-heading
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background: #b6b7cb;
    color: #FFFFFF;
    font-weight: bold;
}
TD.productListing-data
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

TD.pageHeading, DIV.pageHeading
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #9a9a9a;
}

TR.subBar
{
    background: #f4f7fd;
}

TD.subBar
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
}

/*
 * Order
 */

div.Order_Lines th, div.Order_Lines td
{
    padding-left: 3px;
    padding-right: 3px;
}
div.Order_Lines th
{
    font-weight: normal;
    text-decoration: underline;
}
div.Order_Lines td
{
}


/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
TD.main, P.main
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
}
TD.smallText, SPAN.smallText, P.smallText
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}
TD.accountCategory
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: #aabbdd;
}
TD.tableHeading
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
SPAN.greetUser
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #f0a480;
    font-weight: bold;
}
TABLE.formArea
{
    background: #f1f9fe;
    border-color: #7b9ebd;
    border-style: solid;
    border-width: 1px;
}
TD.formAreaTitle
{
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
SPAN.markProductOutOfStock
{
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #c76170;
    font-weight: bold;
}
SPAN.errorText
{
    font-family: Verdana, Arial, sans-serif;
    color: #ff0000;
}
.moduleRow
{
}
.moduleRowOver
{
    background-color: #D7E9F7;
    cursor: pointer;
    cursor: hand;
}
.moduleRowSelected
{
    background-color: #D7E9F7;
}

.checkoutBarFrom, .checkoutBarTo
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #8c8c8c;
}
.checkoutBarCurrent
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
}

/* message box */
.messageBox
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}
.messageStackError, .messageStackWarning
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background-color: #ffb3b5;
}
.messageStackSuccess
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background-color: #99ff00;
}

#myse select
{
    width: 90%;
}
/* input requirement */
.inputRequirement
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #ff0000;
}
/* -------------------------------------------------          -------------------------------------------------------- */
del
{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: bold;
}
s
{
    color: #a8a8a8;
    font-size: 11px;
    font-weight: normal;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */

.vam
{
    vertical-align: middle;
}
.border
{
    border: 1px solid #0E799C;
}
.bg
{
    background: url(images/1_bg.gif);
}
.bg2
{
    background: url(images/4_bg2.gif);
}


.header td
{
    color: #ffffff;
}
.header span
{
    color: #ffffff;
    font-size: 10px;
}
.header b
{
    color: #ffffff;
}
.header a, .header a:link, .header a:visited
{
    color: #E5FF53;
    text-decoration: underline;
    font-size: 11px;
}
.header a:hover
{
    color: #E5FF53;
    text-decoration: none;
}
.header strong a
{
    color: #C9CBBD;
    text-decoration: underline;
    font-size: 11px;
}
.header strong a:hover
{
    color: #C9CBBD;
    text-decoration: none;
}

#input1
{
    width: 37px;
    height: 18px;
    color: #3F4143;
    font-size: 10px;
    font-family: tahoma;
    text-align: right;
}

#input2
{
    width: 37px;
    height: 18px;
    color: #3F4143;
    font-size: 10px;
    font-family: tahoma;
    text-align: right;
}


.jamp
{
    width: 123px;
    height: 18px;
    color: #464646;
    font-size: 10px;
    padding-left: 4px;
    font-family: Tahoma;
}
.jamp1
{
    width: 119px;
    height: 20px;
    color: #A6A6A6;
    font-size: 11px;
    padding-left: 2px;
    font-family: Tahoma;
}
.jamp2
{
    width: 137px;
    height: 18px;
    color: #464646;
    font-size: 10px;
    padding-left: 2px;
    font-family: Tahoma;
}
.jamp3
{
    width: 184px;
    height: 18px;
    color: #464646;
    font-size: 10px;
    padding-left: 2px;
    font-family: Tahoma;
}


.box_header_txt td
{
    height: 21px;
    vertical-align: middle;
    background: url(images/li.gif);
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 11px;
}

.box_body .bg_list a
{
    background: url(images/catlist.gif) left top no-repeat;
    background-position: 0 4px;
    line-height: 20px;
    color: #353535;
    text-decoration: none;
    padding-left: 29px;
}
.box_body .bg_list_un a
{
    color: #A10E04;
    text-decoration: underline;
    padding-left: 10px;
}
.box_body .bg_list_sub a
{
    background: url(images/catlist.gif) left top no-repeat;
    background-position: 0 4px;
    line-height: 20px;
    color: #353535;
    text-decoration: none;
    padding-left: 29px;
    margin-left: 14px;
}


.cont_header_txt td
{
    height: 21px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 11px;
    vertical-align: middle;
}
.cont_header_txt a
{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: none;
    vertical-align: middle;
}
.cont_header_txt a:hover
{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: underline;
}

.product td
{
    color: #323232;
    font-size: 11px;
}
.product b a
{
    color: #323232;
    font-size: 11px;
    text-decoration: none;
    background: url(images/1_bg1.gif) left top no-repeat;
    background-position: 0 3px;
    padding-left: 15px;
}
.product b a:hover
{
    color: #323232;
    text-decoration: underline;
}
.product span
{
    color: #323232;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.product b
{
    color: #5D9C1A;
    font-size: 12px;
    font-weight: bold;
}

.product div a
{
    color: #595959;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}
.product div a:hover
{
    color: #595959;
    text-decoration: underline;
}


.pic img
{
    border: 0px solid #D4D4D4;
}

.result td
{
    color: #323232;
    height: 43px;
    vertical-align: middle;
}
.result a
{
    color: #323232;
    text-decoration: underline;
}
.result a:hover
{
    color: #323232;
    text-decoration: none;
}
.result b
{
    color: #323232;
    font-weight: normal;
}

.result u
{
    text-decoration: underline;
    color: #323232;
}
.result_right
{
    text-align: right;
}
.result_right b
{
    color: #323232;
    font-weight: bold;
}

.popup td
{
    color: #323232;
    font-size: 11px;
}
.popup b
{
    color: #323232;
    font-size: 11px;
    text-transform: uppercase;
}
.popup a
{
    color: #323232;
    font-size: 11px;
    text-decoration: none;
}
.popup a:hover
{
    color: #323232;
    text-decoration: underline;
}



.footer
{
    background: url(images/li.gif) repeat-x top;
}
.footer td
{
    color: #676767;
    font-size: 11px;
}
.footer a
{
    color: #676767;
    font-size: 11px;
    text-decoration: none;
}
.footer a:hover
{
    color: #676767;
    text-decoration: underline;
}
.footer span a
{
    color: #0383B8;
    font-size: 11px;
    text-decoration: underline;
}
.footer span a:hover
{
    color: #0383B8;
    text-decoration: none;
}

.footer1 a
{
    color: #676767;
    font-size: 11px;
    text-decoration: none;
}
.footer1 a:hover
{
    color: #676767;
    text-decoration: underline;
}


.footer1 td
{
    color: #676767;
    font-size: 11px;
}


/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.box_body td
{
    color: #323232;
    font-size: 11px;
}

.box_body a
{
    color: #323232;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
    text-decoration: underline;
}
.box_body a:hover
{
    color: #323232;
    text-decoration: none;
}

.box_body span a
{
    color: #323232;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.box_body span a:hover
{
    color: #323232;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

SPAN.newItemInCart
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #D52D01;
}
.box_body a SPAN.newItemInCart
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #D52D01;
    text-decoration: underline;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.smallText a
{
    color: #323233;
    font-size: 11px;
    text-decoration: none;
}
/*  advanced_search.php  */
.smallText a:hover
{
    color: #323233;
    font-size: 11px;
    text-decoration: underline;
}
.smallText a u
{
    color: #323233;
    font-size: 11px;
    text-decoration: none;
}
.smallText a:hover u
{
    color: #323233;
    font-size: 11px;
    text-decoration: underline;
}

TD.fieldKey
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
TD.fieldValue
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}
.main a b
{
    color: #5D5F60;
    font-size: 10px;
    text-decoration: underline;
}
.main a:hover b
{
    color: #5D5F60;
    font-size: 10px;
    text-decoration: none;
}
/* -------------------------------------------------          -------------------------------------------------------- */
span.txt_1
{
    font-size: 10px;
    text-transform: none;
    color: #000000;
}
/* AM2010051801 - SPECIAL ITEMS - Start */
SPAN.productSpecialPrice, .product SPAN.productSpecialPrice
{
    color: #5D9C1A;
    font-size: 12px;
    font-weight: bold;
}
.box_body SPAN.productSpecialPrice
{
    color: #5D9C1A;
    font-size: 12px;
    font-weight: bold;
}
/* AM2010051801 - SPECIAL ITEMS - End */

.cont_header_txt em
{
    color: #E50029;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    text-decoration: none;
}
.product em
{
    color: #323232;
    font-size: 11px;
    text-decoration: none;
    background: url(images/1_bg1.gif) left top no-repeat;
    background-position: 0 3px;
    padding-left: 15px;
    font-weight: bold;
    font-style: normal;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.main a
{
    color: #323233;
    text-decoration: underline;
}
.main a:hover
{
    color: #323233;
    text-decoration: none;
}
.vam
{
    vertical-align: middle;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.product .shop_cart
{
    color: #323233;
    font-size: 11px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
}

.padd_1
{
    padding: 0px 10px 0px 10px;
}
.padd_2
{
    padding: 8px;
}
.padd2 td
{
    padding: 8px;
}


.line_h
{
    line-height: 16px;
}

.bg_gg
{
    background: url(images/bg_gg.gif) center left repeat-x;
}
.bg_vv
{
    background: url(images/1_bg.gif) repeat-y bottom #ffffff;
}
.bg_gg_1
{
    background: url(images/4_bg2.gif) center left repeat-x;
}


.product div
{
    padding: 8px 5px 5px 5px;
}
div.padd3
{
    text-align: left;
    padding: 0px;
}

.prod_info
{
    width: 100px;
}
.prod_info td
{
    text-align: center;
}

.remove
{
    width: 20%;
}
.products
{
    width: 45%;
}
.quantity
{
    width: 15%;
}
.total
{
    width: 20%;
}

/* -------------------------------------------------          -------------------------------------------------------- */
.box_width_left
{
    width: 180px;
}
.box_width_right
{
    width: 25px;
}
.box_width_cont
{
    width: 100%;
}

/* -------------------------------------------------          -------------------------------------------------------- */

.toolTipShadow
{
    background: url(          "../../images/shadow.png" ) no-repeat right bottom !important;
    margin-left: 25px;
    margin-top: 35px;
}

.toolTipContent
{
    left: -6px;
    top: -6px;
    background-color: #FFF8DC; /*#FFFAF0;/*#FFF0F5;/*#FFFACD;*/
    border: solid black 1px;
    padding: 5px;
    font: bold 10pt sans-serif;
    color:Black;
}


.pickuppage
{
    padding-top: 20px;
    padding-left: 30px;
}

.headertext
{
    padding-bottom: 10px;
}

.headtextinside
{
    font: bold 10pt sans-serif;
}

.chkboxinside
{
    padding-left: 10px;
}

.InpL
{
    font: bold 8pt sans-serif;
}

.tmpl2text
{
    font: 7.5pt verdana;
    color: #000066;
    border-width: 0px;
    height: 11px;
    width: 142px;
}

.tmpl2output
{
    width: 80px;
    border-spacing: 0px;
    border-width: 0px;
    font: 7.5pt verdana;
    color: #000066;
}

.tmpl2table
{
    width: 232px;
    border-spacing: 0px;
}

.majorshipdiv
{
    padding-left: 30px;
    width: 465px;
    border-top: solid 5px #003366; /* border-bottom: dashed 2px red; */
}

.linediv
{
    border-bottom: solid 5px #003366; /* Baker's Chocolate rgb= #5C3317 Dim Grey rgb= #545454 Dark Brown rgb= #5C4033 Very Dark Brown rgb= #5C4033 */
}

.newaddress
{
    border-bottom: solid 1px #003366;
}

.Output1GroupBtn
{
    color: #003366;
}

.Output1BtnC
{
    color: #003366;
    font: 7.5pt verdana;
}

div.pricelisttemplate
{
    margin-left: 5px;
    margin-bottom: 20px;
}

/*div.pricelisttemplate td
{
    padding-left: 18px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 6px;
}*/

.testclass1
{
    width: 100%;
    border-bottom: ridge 2px black;
}

.testclass2
{
    width: 100%;
    border-bottom: groove 1px black;
    margin-top: 10px;
}

.leftPricelistHeaderColumn
{
    width: 42%;
}

.pricelistImg img
{
    width: 100px;
}

.pricelistImgH img
{
    height: 140px;
}
.pricelistHeading
{
    font-weight: 500;
    font-size: 11px;
    color: MenuText;
}
.pricelistText
{
    color: #eb7f00;
    font-weight: 800;
    font-size: 12px;
}
td.priceListPrice
{
    text-align: right;
}
.priceListPrice
{
    font-weight: 700;
    font-size: 12px;
}
.pricelistTemplateHeader
{
    color: #003333;
    font-weight: 700;
    font-size: 11px;
    padding-bottom: 18px;
    padding-left: 15px;
}
.pricelistDataList
{
    width: 480px;
}

.miniCartFrameRow
{
    position: relative;
    left: -5px;
    top: 20px;
    vertical-align: middle;
    height: 30px;
    width: 120px;
    background-color: Transparent;
}

.miniCartFrame
{
    width: 120px;
    background-color: transparent;
}

.cartIFrame
{
    width: 120px;
    background-color: transparent;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 5pt;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 4px;
}

.frameLink
{
    width: 120px;
    text-decoration: none;
    color: #ffffff; /* 1c56ff */
    font-size: xx-small;
    background-color: transparent;
}

table.SearchResultGrid td
{
    text-align: left;
    padding: 5px;
}
/* AM2010051801 - SPECIAL ITEMS - Start */
table.SearchResultPriceSpecial td
{
    text-align: left;
    padding: 5px;
    color: #FF0000;
}
/* AM2010051801 - SPECIAL ITEMS - End */

.SearchResultDescription a
{
    text-decoration: none;
    color: #6C6C6C;
}

td.SearchResultQuantity
{
    text-align: center;
}
input.SearchResultQuantity
{
    width: 30px;
}
span.SearchHiLite
{
    background-color: #00ffcc;
}
div.FrontPageImage
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
div.FrontPageText
{
    margin-top: 10px;
    margin-right: 10px;
}
div.FrontPageMostPopular
{
    clear: both;
}
li
{
    line-height: 18px;
    white-space:normal;
}

/*AM2011031801 - ENTERPRISE CSR STAND ALONE - Start*/
div.CSRUserSearchDiv
{
	background-color:White;
    border:1px solid gray;
    position:absolute;
    z-index:10000;
    padding:5px;
    /*left:280px;*/
    width:708px;
    top:158px;
    overflow:auto;
}
div.divUserInfo
{
	background-color:White;
    border:1px solid gray;
    position: absolute;
    z-index:10000;
    padding:5px;
    top:158px;
}
span.refundShipping input
{
	margin-top:0px;
}
/*AM2011031801 - ENTERPRISE CSR STAND ALONE - End*/

div.userNewText
{
    font-weight: 900;
    font-size: 13px;
    color: #545454;
}
div.userNewText td
{
    color: #3F9AC9; /* Lables Font color on user_new form (New Account - link)*/
    padding-right: 5px;
    font-size: 11px;
}

div.userNewText span
{
    vertical-align: middle;
}

div.userNewText select
{
    color: #545454;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
}

.none
{
    font-weight: 500;
    font-size: 12px;
    text-indent: 3px;
}
/*TextBox Styles*/
.borderTextBox, .userNewTextBoxZipCode, .userNewTextBoxState, .cartProduct, .cartQuantity, .cartOptional, .favoriteQuantity, .shippingAddressTextBox, .ShippingZipCode, .ShippingHandlingProviderGuid, .ShippingHandlingService, .txtInsuredValue, .ddlCurrency
{
    color: #545454; /* Text box's Font color on user_new form (New Account - link)*/
    font-weight: 500;
    font-size: 11px;
    vertical-align: bottom;
    border: double 2px #C6DCE7;
    text-indent: 3px;
}

.shippingAddressTextBox
{
    width: 140px;
    height: 16px;
}

.borderTextBox
{
    width: 150px;
    height: 16px;
}

.userNewTextBoxZipCode
{
    width: 60px;
    height: 16px;
}

.userNewTextBoxState
{
    width: 30px;
    height: 16px;
}

.shippingBorderDropDownList
{
    position: relative;
    top: -4px;
    left: -3px;
}

.borderDropDownList
{
    /*height: 25px; 	padding-bottom: 0px; 	position: relative; 	top: -4px; 	left: -3px;*/
    border: none;
}

.shippingBorderDropDownList
{
    width: 149px;
    height: 25px;
    padding-bottom: 0px;
}

.dpdBorder, .dpdShippingBorder
{
    border: inset 2px;
    float: left;
    overflow: hidden;
    position: relative;
    margin-left: 3px;
}

.dpdBorder
{
    height: 16px;
    border: 2px double #C6DCE7; /* Border color of the dropdown lists on user_new form (New Account - link)*/
}

.dpdBorderUOM
{
    border: 2px double #C6DCE7; /* Border color of the dropdown lists and textboxes on the UOM control*/
}

.dpdShippingBorder
{
    width: 143px;
    height: 16px;
}

.TDR
{
    height: 25px;
    text-align: right;
    vertical-align: middle;
}

.TDL
{
    vertical-align: middle;
}

.TR1
{
    padding: 2px;
    vertical-align: middle;
}

.TDL, .TDC, .TDR, .THL, .THC, .THR
{
    white-space: nowrap;
}

.shippingAddressFieldLabel
{
    padding-right: 2px;
}
div.CatalogOverviewPage ul
{
    margin: 5px;
    padding-left: 10px;
}
div.CatalogOverviewPage li
{
    list-style-type: square;
    list-style-position: inside;
    line-height: 18px;
}

div.PaymentMethodPage
{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

div.PaymentMethodPage th
{
    text-align: left;
}

div.ShippingProviderPage
{
    padding-left: 20px;
    padding-bottom: 20px;
}

div.ProductPriceListUpdated_Description
{
    height: 70px;
    display: block;
    overflow: hidden;
}
div.ProductPriceList_Description
{
    height: 28px;
    display: block;
    overflow: hidden;
}
div.ProductPriceList_Description a
{
    color: #636363;
    font-size: 11px;
    vertical-align: middle;
    text-decoration: none;
}
div.ProductPriceListUpdated_Description a
{
    color: #636363;
    font-size: 11px;
    vertical-align: middle;
    text-decoration: none;
}

/* AM2010051802 - WHAT'S NEW - Start */

.WhatsNewBorder
{
    border: 1px solid gray;
    margin: 5px; 
    width: 95%;
}
.WhatsNewHeader
{
    color: #D3524A;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
.WhatsNewItemStyle
{
    padding-bottom: 10px;
    text-align: left;
}
.WhatsNewItemStyle a
{
    color: #7E8A91;
    text-transform: uppercase;
    font-weight: bold;
}
.WhatsNewPrice
{
    display: inline;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 10px;
    text-align: left;
}
/* AM2010051802 - WHAT'S NEW - End */
/* AM2010051801 - SPECIAL ITEMS - Start */

.SpecialsBorder
{
    border: 1px solid gray;
    Width:570px;
}
.SpecialsHeader
{
    color: #1F4356;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
.SpecialsItemStyle
{
    padding-bottom: 10px;
    text-align: center;
}
.SpecialsItemStyle a
{
    color: #7E8A91;
    text-transform: uppercase;
    font-weight: bold;
}
.SpecialsBoxPrice
{
    text-align: left;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

/* AM2010051801 - SPECIAL ITEMS -  */
/*Slide Images*/
#bannerContainer
{
    border: 0 none transparent;
    cursor: pointer;
    height: 260px;
    left: 0;
    position: relative;
    top: 0;
    width: 550px;
}
#thumbnailContainer
{
    bottom: -20px;
    margin-right: 10px;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 1001;
    top: 260px;
}
.thumbnailImageContainer
{
    cursor: pointer;
    display: inline;
    height: 24px;
    margin: 0 !important;
    padding-left: 0 !important;
    width: 24px;
}
.thumbnailImageContainer img
{
    border: medium none;
    height: 24px;
    margin-left: 0 !important;
    padding: 0 !important;
    width: 24px;
}
.bannerImage
{
    left: 0;
    opacity: 0.99;
    position: absolute;
    top: 0;
    z-index: 100;
}
/*Pagination Style*/
table.PaginationStyle
{
    background-color: #73B7DA;
    background-repeat: repeat-x;
    height: 24px;
}
/*Previous Orders Header Style*/
.historyHeader
{
    color: #3F9AC9;
    font-weight: bold;
}

/* AM2010051802 - WHAT'S NEW - START */
td.SearchResultWhatsNew
{
    color: Red;
    text-decoration: none;
    font-weight: bold;
}
/* AM2010051802 - WHAT'S NEW - END */




/*Dinamic Catalog Styles*/

#menu
{
    position: relative;
    z-index: 2000;
    display: list-item;
    list-style-image: url(spacer.gif);
    padding-bottom: 30px;
}

#menu ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    text-align: left;
    padding: 1px 1px 0 1px;
    background: #fff;
    width:200px;
}

#menu li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu li
{
    display: inline;
}
#menu ul ul
{
    position: absolute;
    left: -9999px;
}
#menu ul#toplevel
{
    padding-top: 0px;
    position: relative;
    left: 0;
    top: 0;
    width: 200px;
}

#menu a
{
    display: block;
    font: normal 11px verdana,arial,sans-serif;
    color: White; /* Font color standard*/
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    padding: 0 20px 0 10px;
    background-color: #8EC6E4;
    border-bottom: 1px solid white; /*Separator*/
}
#menu li a.fly
{
    background: url(arrow_dinamicMenu.gif) no-repeat right center; /* Arrow only for the ones with subcategories*/
    background-color: #8EC6E4;
    border-bottom: 1px solid white; /*Separator*/
}

#menu li a:hover
{
    background-color: #3F99C9; /* Background color on mouseover*/
    color: #fff; /* Font color on mouseover*/
    font-weight: bold;
}
#menu li:hover > a
{
    background-color: #3F99C9; /* Background color on mouseover*/
    color: #fff; /* Font color on mouseover*/
    font-weight: bold;
}

#menu ul li:hover > ul
{
    left: 10%;
    left: 20%;
    left: 30%;
    left: 40%;
    left: 50%;
    left: 60%;
    left: 70%;
    left: 80%;
    left: 90%;
    left: 100%;
    margin-top: -23px;
    margin-left: -1px;
}

#menu a:hover ul, #menu a:hover a:hover ul, #menu a:hover a:hover a:hover ul
{
    left: 100%;
}
#menu a:hover ul ul, #menu a:hover a:hover ul ul
{
    left: -9999px;
}

#menu table
{
    position: absolute;
    left: 99%;
    height: 0;
    width: 0;
    border-collapse: collapse;
    margin-top: -7px;
    margin-left: -1px;
}
.RegularPrice, span.RegularPrice, del.RegularPrice, a.RegularPrice
{
    color: #666666;
}

.SpecialPrice, span.SpecialPrice, a.SpecialPrice
{
    color: Red;
}

/* Catalog Tree Extended **** Start */

.CatalogTreeLeft
{
    margin: 0px;
    padding-left: 0px;
    list-style-image: url( 'p.gif' );
}
.CatalogTreeLeft a
{
    text-decoration: none;
    padding-right: 5px;
}
.CatalogTreeLeft li
{
    text-decoration: none;
}
.CatalogTreeLeft li:hover
{
    text-decoration: none;
}
/* Catalog Tree Extended **** End */

.PromoStyles a
{
    text-decoration: none;
    color: #6C6C6C;
}
/* JA2010071601 - RATINGS AND REVIEWS - START */
.ShowNameRatings input
{
  margin:0px;
  padding:0px;
  width:14px;
  height:14px;
}
/* JA2010071601 - RATINGS AND REVIEWS - END */


Comment.code
{
    background:none repeat scroll 0 0 #00FFCC;
}

/* AM2010080301 - CHECK OUT PROCESS MAP - Start */
td.CheckOutMap
{
    background-image: url(checkOutMapBack.png);
    background-repeat: repeat;
    text-align: center;
    vertical-align: middle;
    height:35px;
}
span.CheckOutMapRadio input
{
	margin:0px;
	margin-bottom:4px;
}

/* AM2010080301 - CHECK OUT PROCESS MAP - End */



/* JA2010092101 - USER SEARCH CONTROL - START */
td.userSearchCart
{
	padding: 2px;
}
th.userSearchCartHeader
{
	padding: 2px;
}
.ItemStyleLeft
{
	text-align:left;
	padding: 2px;
}
.ItemStyleRight
{
	text-align:right;
	padding: 2px;
}
/* JA2010092101 - USER SEARCH CONTROL - END */


/*Pagination Text Style*/
span.PaginationStyle
{
   color: White;
   font-weight: bold;
}

a.PaginationStyle
{
   color: White;
   font-weight: bold;
}

/*Pricelist Item Name - Text Style*/
a.PricelistItemName
{
   color: #eb7f00; 
   font-weight: bold; 
   text-decoration: none;
   font-size: 12px;
}

span.InStock
{
	color:#5D9C1A;
}


ins.moreText
{
	color:#377FB7;
	text-decoration:none
}

td.Checkoutprocess
{
	color:#1F4356;
	font-weight: bold;
}


td.menuItems a
{
	 color:white;
	 text-decoration: none;
}
td.menuItemsBottom a
{
	 color:#3F9AC9;
}
td.menuItemsBottom
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(mark_menu.gif) no-repeat scroll 5px center;
    cursor: pointer;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 31px;
    line-height: 12px;
    padding: 0 15px 0 15px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    text-decoration: none;
}

td.SlideShowBar
{
	background: #73B7DA none repeat scroll 0% 0%; 
	-moz-background-clip: border;	
    -moz-background-origin: padding; 
    -moz-background-inline-policy: continuous;
}