<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="_payment.aspx.vb" Inherits="_payment" 
ValidateRequest="false" EnableEventValidation="false" Theme="" %>
