<%--JA0531201001 - STAY IN CATALOG - START--%>
<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="AddToCartAjax.aspx.vb" Inherits="AddToCartAjax"
    CodeFileBaseClass="ExpandIT.Page" %>
<%@ Import Namespace="ExpandIT" %>
<%@ Import Namespace="ExpandIT.EISClass" %>
<%@ Import Namespace="ExpandIT.ExpandITLib" %>
<html><head id="Head1" runat="server"></head><body><%= html %></body></html>
<%--JA0531201001 - STAY IN CATALOG - END--%>

