<%--JA2010060101 - ALERTS - Start--%>

<%@ Page Language="VB" AutoEventWireup="false" CodeFile="AlertsPage.aspx.vb" Inherits="AlertsPage"
    CodeFileBaseClass="ExpandIT.Page" MasterPageFile="~/masters/default/main.master"
    RuntimeMasterPageFile="ThreeColumn.master" CrumbName="<%$ Resources: Language, LABEL_ALERTS %>" %>

<%@ Import Namespace="ExpandIT" %>
<%@ Import Namespace="ExpandIT.EISClass" %>
<%@ Import Namespace="ExpandIT.ExpandITLib" %>
<%@ Register Src="~/controls/Alerts/Alerts.ascx" TagName="Alerts" TagPrefix="uc1" %>
<%@ Register Src="~/controls/PageHeader.ascx" TagName="PageHeader" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSubMaster" runat="Server">

    
</asp:Content>
<%--JA2010060101 - ALERTS - End--%>
