<%@ Page Language="VB" AutoEventWireup="false" CodeFile="authorize_net_post_form.aspx.vb" Inherits="authorize_net_post_form" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <%Response.ContentEncoding = Encoding.ASCII%>

    <% =writeFormCart()%>
    
    <script type="text/javascript">
        document.forms["payForm"].submit ();
    </script>
</body>
</html>
