<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="getPricingAjax.aspx.vb" Inherits="getPricingAjax"
    CodeFileBaseClass="ExpandIT.Page" %>
<%@ Import Namespace="ExpandIT" %>
<%@ Import Namespace="ExpandIT.EISClass" %>
<%@ Import Namespace="ExpandIT.ExpandITLib" %>
<html><head id="Head1" runat="server"></head><body><%= html %></body></html>

