<%--JA2011021701 - STORE LOCATOR - Start--%>
<%@ Import Namespace="System.Configuration.ConfigurationManager" %>

<%@ Page Language="VB" AutoEventWireup="false" CodeFile="mapAjax.aspx.vb" Inherits="mapAjax"
    CodeFileBaseClass="ExpandIT.Page" %>

<html>
<head id="Head1" runat="server">
</head>
<body style="background-color: #FFFFFF;">
    <%--<form id="form1" runat="server">--%>
    
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    
    <%--</form>--%>
</body>
</html>
<%--JA2011021701 - STORE LOCATOR - End--%>