<%--JA2010071601 - RATINGS AND REVIEWS - START--%>
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ratings.aspx.vb" Inherits="ratings"
    CodeFileBaseClass="ExpandIT.Page" MasterPageFile="~/masters/default/main.master"
    RuntimeMasterPageFile="ThreeColumn.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphSubMaster" runat="Server">

</asp:Content>
<%--JA2010071601 - RATINGS AND REVIEWS - END--%>
