<%@ Page Language="VB" AutoEventWireup="false" CodeFile="slideShowRedirect.aspx.vb" Inherits="slideShowRedirect"
    CodeFileBaseClass="ExpandIT.Page" MasterPageFile="~/masters/default/main.master"
    RuntimeMasterPageFile="innerPages.master" CrumbName="<%$ Resources: Language, LABEL_CONFIRMATION %>" %>

<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Import Namespace="ExpandIT.EISClass" %>
<%@ Import Namespace="ExpandIT.GlobalsClass" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSubMaster" runat="Server">
    
</asp:Content>
