<%--AM2011031801 - ENTERPRISE CSR STAND ALONE - Start--%>
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="userSearchSelection.aspx.vb" Inherits="userSearchSelection"
    CodeFileBaseClass="ExpandIT.Page" MasterPageFile="~/masters/default/main.master"
    RuntimeMasterPageFile="ThreeColumn.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphSubMaster" runat="Server">

</asp:Content>
<%--AM2011031801 - ENTERPRISE CSR STAND ALONE - End--%>
