﻿div.FavoriteLineDelete,
div.FavoriteLineProductGuid,
div.FavoriteLineProductName,
div.FavoriteLineQuantity,
div.FavoriteHeader_ProductGuid,
div.FavoriteHeader_ProductName,
div.FavoriteHeader_Quantity,
div.FavoriteHeader_Delete
{
	overflow: hidden;
	white-space: nowrap;
	margin-right: 5px;
	line-height: 20px;
}
div.FavoriteHeader_Delete,
div.FavoriteLineDelete
{
	float: left;	
	width: 20px;
}
div.FavoriteHeader_ProductGuid,
div.FavoriteLineProductGuid
{
	float: left;	
	width: 80px;
}
div.FavoriteHeader_ProductName,
div.FavoriteLineProductName
{
	float: left;	
	width: 250px;
}
div.FavoriteHeader_Quantity,
div.FavoriteLineQuantity
{
	float: left;	
	width: 50px;
}
input.FavoriteLineQuantity
{
	width: 40px;
}
input.FavoriteLineDelete
{
	background-image: url('delete.png');	
	background-repeat: no-repeat;
	background-position: left center;
	height: 20px;
	widows: 16px;
}
