﻿div.shippingdivmodel1
{
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.ShippingInputDiv
{
    padding-left: 35px;
    padding-bottom: 35px;
}

div.ShippingLabelOutputDisplayDiv
{
    padding-left: 35px;
    padding-top: 15px;
}

div.ShippingLabelTableOutputDisplayDiv
{
    padding-left: 65px;   
}

div.ShippingTableOutputDisplayDiv
{   
    padding-left: 90px; 
    padding-top: 15px;
}

div.ShippingButtons
{
    padding-top: 5px;
    padding-bottom: 10px;
}


.fixedHeader
{
    overflow: auto;
    height: 112px;
    border: 0px;
}

.fixedHeader input
{
    cursor: pointer;
}

.line
{
    width: inherit; /* border-top: solid 3px Blue;*/ /* border-bottom: solid 4px #545454; */
    border: inset 3px;
}
.buttons
{
    padding-top: 5px;
    padding-left: 10px;
}
.BtnTL
{
    width: auto;
    font-size: x-small;
}

div.dataBoundList
{
    border-bottom: solid 7px #545454;
}

div.dataBoundList table
{
    background-color: #5d9c41;
    border-top: solid 7px #545454;
}

div.dataBoundList input
{
    color: White;
    cursor: default;
}

div.dataBoundList input
{
    height: 15px;
    padding-top: 1px;
}

div.listTemplate1 input
{
    height: 15px;
    vertical-align: middle;
    color: #545454;
}

.listTextBox1, .listTextBox2, .listTextBox3, .listTextBox4, .listTextBox5
{
    background-color: Transparent;
    border-width: 0px;
    font-size: XX-Small;
    font-weight: bold;
}

.listTextBox1
{
    width: 100px;
}

.listTextBox2
{
    width: 120px;
}
.listTextBox3
{
    width: 90px;
}
.listTextBox4
{
    width: 79px;
}
.listTextBox5
{
    width: 50px;
}

/* LabelOutputTemplate */
div.t
{
}
div.tr
{
    width: 100%;
    height: 20px;
    display: table;
}
div.trs
{
    width: 100%;
    height: 8px;
    display: table;
}
div.tdl
{
    float: left;
    width: 38%;
    text-align: right;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 600;
    color: #545454;
}
div.tdr
{
    float: right;
    width: 60%;
    text-align: left;
    font-family: Tahoma;
    font-size: 12px;
    color: Black;
}

.naddress
{
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.OnlyOneAddressOuter
{
    padding-top: 10px;
    padding-left: 0px;
}

div.RadioDiv
{
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.linedivSpacer
{
    padding-top: 5px;
}

div.caddress
{
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

div.ShippingAddress
{
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.ShippingPurchaseButtonDiv
{
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.B2B3Div
{
    padding-top:10px;
}

div.ShippingLabelOutputDiv
{
    padding-top: 30px;
}

div.ShippingProviderButton
{
    padding-top: 15px;
}