﻿body
{
	padding: 0;
	margin: 0;
}
body, td, input, textarea
{
	font-size: 11px;
	font-family: Tahoma;
	color: #323233;
	line-height: 13px;
	vertical-align: top;
	padding: 0px;
}

.PageHeader
{
	display: none;
}
h1
{
	font-size: 15px;
}
h2
{
	font-size: 13px;
}
a, a:visited, a:link
{
	color: #0097c2;
}
table.MainTable
{
	width: 755px;
}
#LogoTD
{
	background-image: url(  'logo.gif' );
	background-position: center center;
	background-repeat: no-repeat;
}

/*
 * Top Menu
 */
div.TopMenu div.MenuItem
{
	display: inline;
}
div.TopMenu div.MenuItem div
{
	display: inline;
	background-image: url(blueball.gif);
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 0px;
	padding-left: 12px;
	margin-right: 20px;
}
div.TopMenu div.MenuItem A
{
	color: #0097c2;
	font-size: 11px;
}
div.TopMenu div.MenuItemSeparator, div.TopMenu div.MenuItemSeparatorFirst, div.TopMenu div.MenuItemSeparatorLast
{
	display: none;
}
div.TopMenu div div.MenuItem_Search, div.TopMenu div div.MenuItemSeparator_Search, div.TopMenu div div.MenuItem_Order, div.TopMenu div div.MenuItemSeparator_Order, div.TopMenu div div.MenuItem_Cart, div.TopMenu div div.MenuItemSeparator_Cart, div.TopMenu div div.MenuItem_Catalog, div.TopMenu div div.MenuItemSeparator_Catalog, div.TopMenu div div.MenuItem_InformationPage, div.TopMenu div div.MenuItemSeparator_InformationPage
{
	display: none;
}

/*
 * Bottom Menu
 */
div.BottomMenu div.MenuItem
{
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}
div.BottomMenu div.MenuItem A
{
	color: #676767;
	font-size: 11px;
}
div.BottomMenu div.MenuItemSeparator
{
	float: left;
	border-left: 1px solid #999999;
	margin-left: 6px;
	margin-right: 6px;
	width: 0px;
	height: 10px;
	margin-top: 2px;
}
div.BottomMenu div.MenuItemSeparatorFirst, div.BottomMenu div.MenuItemSeparatorLast
{
	display: none;
}


#MasterSearchBox
{
	width: 555px;
	background: url(  'top.gif' );
	height: 103px;
}
.MasterSearchButton
{
	background-image: url(button_search_prod.gif);
	background-position: center center;
	background-repeat: no-repeat;
	width: 68px;
	height: 20px;
}
input.QuickSearch
{
	border-right: #339966 1px solid;
	border-top: #339966 1px solid;
	border-left: #339966 1px solid;
	border-bottom: #339966 1px solid;
	height: 13px;
	width: 120px;
	padding: 2px;
	padding-left: 5px;
	background-color: #e6edc3;
}
td.QuickSearch_Button
{
	padding-left: 10px;
}
br.BoxSeperator
{
	line-height: 30px;
}
div.CatalogTree
{
	color: #353535;
	text-decoration: none;
}
div.CatalogTreeNode:hover, div.CatalogTreePath:hover, div.CatalogTreeSelected:hover
{
	color: #a10e04;
	background: #f6fde3;
}
div.CatalogTreeNode, div.CatalogTreePath, div.CatalogTreeSelected
{
	background: #e6edc3;
	height: 19px;
	border-bottom: 1px solid #ffffff;
	line-height: 19px;
}
div.CatalogTreeImageNode, div.CatalogTreeImagePath, div.CatalogTreeImageSelected
{
	width: 20px;
	height: 19px;
	background-image: url(catlist.gif);
	background-position: right center;
	background-repeat: no-repeat;
	margin-right: 5px;
}

table.CatalogTreeNode
{
	width: 100%;
	background: #e6edc3;
	height: 19px;
	border-bottom: 1px solid #ffffff;
	line-height: 19px;
}
table.CatalogTreeNode:hover
{
	width: 100%;
	background: #f6fde3;
}
div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeImageSelected
{
	width: 37px;
}
div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageSelected
{
	width: 57px;
}
div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageSelected
{
	width: 77px;
}

div.CatalogTreeIndent
{
	margin-left: 0px;
}
div.CatalogTreeNode, div.CatalogTreePath, div.CatalogTreeSelected
{
	cursor: pointer;
}

/*
 * Breadcrumbs
 */

div.Breadcrumb, div.BreadcrumbSeparator
{
	display: inline;
	color: #99ccff;
	font-size: 10px;
}
div.Breadcrumb
{
}
a.Breadcrumb, a.Breadcrumb:link, a.Breadcrumb:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.Breadcrumb:hover
{
	text-decoration: underline;
}
div.BreadcrumbSeparator
{
	padding-left: 5px;
	padding-right: 5px;
}

/**********/
table.BoxTable, table.BoxHeaderTableOuter, table.BoxContentTableOuter
{
	width: 100%;
}
td.BoxHeaderCellOuter, td.BoxContentCellOuter
{
	padding-left: 0px;
	padding-right: 0px;
}
td.BoxHeaderLeft, td.BoxHeaderRight, td.BoxHeaderCenter
{
	height: 22px;
	line-height: 21px;
}
td.BoxHeaderLeft
{
	background-image: url(box_header_left.gif);
	background-repeat: no-repeat;
	background-position: 0 top;
	width: 7px;
}
td.BoxHeaderRight
{
	background-image: url(box_header_right.gif);
	background-repeat: repeat-x;
	width: 7px;
	background-repeat: no-repeat;
	background-position: right top;
}
td.BoxHeaderCenter
{
	background-image: url(box_header_center.gif);
	background-repeat: repeat-x;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
	padding-left: 10px;
}
td.BoxHeaderCenter a
{
	color: #ffffff;
	text-decoration: none;
}
td.BoxContentLeft, td.BoxContentRight
{
	display: none;
}

/****/
table#contentBoxHeaderTableOuter
{
	width: auto;
	padding: 0;
	border-collapse: collapse;
}
tr#contentBoxUnderHeaderRowOuter
{
	display: none;
}
td#contentBoxHeaderLeft, td#contentBoxHeaderRight, td#contentBoxHeaderCenter
{
	height: 21px;
	line-height: 21px;
}
td#contentBoxHeaderLeft
{
	background-image: url(content_box_header_left.gif);
	background-repeat: repeat-x;
	width: 7px;
}
td#contentBoxHeaderRight
{
	background-image: url(content_box_header_right.gif);
	background-repeat: repeat-x;
	width: 7px;
	background-repeat: no-repeat;
	background-position: right top;
}
td#contentBoxHeaderCenter
{
	background-image: url(content_box_header_center.gif);
	background-repeat: repeat-x;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
	padding-left: 10px;
	padding-right: 10px;
}
td#contentBoxContentCenter
{
	border: 1px solid #0e799c;
	padding: 10px;
}
/****/


div.ProductDisplayVertical
{
	text-align: center;
}
div.ProductDisplayVerticalImage
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
div.ProductDisplayVerticalProductName
{
	text-align: center;
	line-height: 20px;
}
div.ProductDisplayVerticalProductName A
{
	font-size: 12px;
	font-weight: 700;
	color: #323232;
	text-align: center;
	text-decoration: none;
}
div.ProductDisplayVerticalProductName A:hover
{
	text-decoration: underline;
}
div.ProductDisplayVerticalProductPrice, div.ProductDisplayVerticalOldProductPrice
{
	text-align: center;
	line-height: 20px;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}
div.ProductDisplayVerticalProductPrice A
{
	font-size: 12px;
	font-weight: 700;
	color: #5d9c1a;
	text-align: center;
	text-decoration: none;
}
div.ProductDisplayVerticalProductPrice A:hover
{
	text-decoration: underline;
}
div.ProductDisplayVerticalOldProductPrice A
{
	font-size: 12px;
	font-weight: 700;
	color: #a8a8a8;
	text-align: center;
	text-decoration: line-through;
}
div.ProductDisplayVerticalOldProductPrice A:hover
{
	text-decoration: line-through;
}
div.ProductDisplayVerticalPrices
{
	text-align: center;
	width: 100%;
}
div.LanguageFlagsBoxContent
{
	text-align: center;
	padding-top: 6px;
}
div.LanguageFlags
{
	text-align: center;
}
div.LanguageFlags table
{
	display: inline;
}

div.LanguageDropDown
{
	padding-top: 6px;
	padding-left: 8px;
}

div.creditCardBoxContent
{
	text-align: center;
	padding-top: 6px;
}

div.CurrencyDropDown
{
	text-align: center;
	padding-top: 6px;
	padding-left: 4px;
}
div.LoginBoxContent
{
	padding: 6px;
}


table.GroupProductList
{
}
td.GroupProductListItem
{
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 28px;
}
div.ProductDisplayList
{
	background: #ffffff;
	position: relative;
	background-repeat: no-repeat;
	height: 180px;
	width: 257px;
	border-bottom: 1px solid #cccccc;
}
div.ProductDisplayList2
{
    width: 145px;
    height: 190px;
    border: 1px solid #ffffff;
    position: relative;
    padding-top: 0px;
}
table.ProductDisplayListForm2
{
    width: 100%;
}
div.ProductDisplayList_AddButton a, div.ProductDisplayList_DetailsLink a
{
	color: #377fb7;
}
div.ProductDisplayList_Price a
{
	color: #5d9c1a;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}
div.ProductDisplayList_Price2 a
{
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    font-weight: 700;
    color: #5d9c1a;
    text-decoration: none;
}
div.ProductDisplayList_SecondaryPrice2 a
{
    position: absolute;
    bottom: 40px;
	right: 0px;
    font-size: 10px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
}
div.ProductDisplayList_SecondaryPrice a
{
	color: #666666;
	font-size: 8px;
	font-weight: 700;
	text-decoration: none;
}
div.ProductDisplayList_Guid
{
	display: none;
}
div.ProductDisplayList_Name2
{
    background-image: url(blueball.gif);
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 15px;
}
div.ProductDisplayList_Thumbnail
{
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 98px;
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	width: 95px;
}
div.ProductDisplayList_Thumbnail2
{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}
div.ProductDisplayList_Name, div.ProductDisplayList_Description
{
	position: absolute;
	left: 98px;
	width: 150px;
}
div.ProductDisplayList_Name
{
	background-image: url(blueball.gif);
	background-position: left 13px;
	background-repeat: no-repeat;
	padding-left:15px;
	height: 35px;
	line-height: 35px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	vertical-align: middle;
	border-bottom: 1px dashed #CCCCCC;
}
div.ProductDisplayList_Name a
{
	color: #323232;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
}
div.ProductDisplayList_Description
{
	height: 90px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50px;
	padding-bottom: 5px;
}
div.ProductDisplayList_Description2
{
    display: none;
}
div.ProductDisplayList_Description a
{
	color: #636363;
	font-size: 11px;
	vertical-align: middle;
	text-decoration: none;
}
div.ProductDisplayList_DetailsLink, div.ProductDisplayList_AddButton
{
	height: 27px;
	line-height: 27px;
}
div.ProductDisplayList_AddButton2
{
    position: absolute;
    bottom: 0px;
}
div.ProductDisplayList_DetailsLink2
{
    position: absolute;
    bottom: 23px;
	padding-left: 17px;
    background-image: url(button_details.gif);
    background-repeat: no-repeat;
    background-position: left 1px;
    text-transform: uppercase;
}
div.ProductDisplayList_DetailsLink
{
	width: 63px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 150px;
	left: 190px;
	text-align: center;
	border-top: 1px dashed #CCCCCC;
}
div.ProductDisplayList_AddButton
{
	width: 85px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 150px;
	left: 98px;
	text-align: center;
	border-top: 1px dashed #CCCCCC;
}
div.ProductDisplayList_Price
{
	position: absolute;
	top: 155px;
	left: 0px;
	width: 95px;
	display: block;
	overflow: hidden;
	text-align: center;
}
div.ProductDisplayList_SecondaryPrice
{
	position: absolute;
	top: 140px;
	left: 0px;
	width: 95px;
	display: block;
	overflow: hidden;
	text-align: center;
}

/********************/
/*                  */
/* PRODUCT TEMPLATE */
/*                  */
/********************/
div.ProductTemplate
{
	padding-left: 10px;
	padding-right: 10px;
}
table.ProductTemplate
{
	width: 100%;
	margin-right: 20px;
}
table.ProductTemplate td
{
	vertical-align: top;
}

div.ProductTemplate_Heading
{
	color: #000000;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	background-image: url(blueball.gif);
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 0px;
	padding-left: 12px;
}
div.ProductTemplate_Description
{
	padding-top: 5px;
	padding-bottom: 10px;
}
div.ProductTemplate_Picture
{
	height: 140px;
	width: 120px;
	line-height: 120px;
	text-align: center;
}

div.ProductTemplate_Buttons
{
	padding: 10px;
	padding-bottom: 10px;
}
table.ProductTemplate_Buttons
{
	width: 100%;
}
table.ProductTemplate_Buttons td
{
	text-align: center;
}
div.ProductTemplate_AddToCartButton
{
}
div.ProductTemplate_AdditionalInformation
{
	margin-bottom: 10px;
}
div.ProductTemplate_AdditionalHeading, div.ProductTemplate_RelatedHeading
{
	color: #666666;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
}
div.ProductTemplate_Related
{
	padding-top: 10px;
}
div.ProductTemplate_Related table
{
	width: 100%;
}
div.ProductTemplate_Caption_Price, div.ProductTemplate_Caption_SKU, div.ProductTemplate_SKU
{
	display: none;
}
div.ProductTemplate_Price
{
	text-align: center;
	color: #5d9c1a;
	font-weight: 700;
	font-size: 14px;
}
div.ProductTemplate_SecondaryPrice
{
	text-align: center;
	color: #999999;
	font-weight: normal;
	font-size: 10px;
}
div.ProductTemplate_Enlarge
{
	text-align: center;
	margin-bottom: 10px;
}
div.ProductTemplate_Enlarge a
{
	color: #333333;
	text-decoration: underline;
}
div.ProductTemplate_Hyperlink div.ProductTemplate_Attachment
{
	height: 20px;
}
div.AttachmentSubTypeDOC a, div.AttachmentSubTypePDF a, div.AttachmentSubTypeXLSX a, div.AttachmentSubTypePPT a, div.AttachmentSubTypeTXT a, div.ProductTemplate_Hyperlink a
{
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	line-height: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}
div.AttachmentSubTypeDOC a
{
	background-image: url(../../images/filetypes/doc16.png);
}
div.AttachmentSubTypePDF a
{
	background-image: url(../../images/filetypes/pdf16.png);
}
div.AttachmentSubTypeTXT a
{
	background-image: url(../../images/filetypes/txt16.png);
}
div.AttachmentSubTypeXLSX a
{
	background-image: url(../../images/filetypes/xls16.png);
}
div.AttachmentSubTypePPT a
{
	background-image: url(../../images/filetypes/ppt16.png);
}
div.ProductTemplate_Hyperlink a
{
	background-image: url(../../images/internet16.png);
}
div.ProductTemplate_Separator
{
	height: 0px;
}
div.ProductTemplate_RelatedHeading
{
	background: #b0e0e6;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 20px;
	border: 1px solid #c0f0f6;
	color: #333333;
	font-weight: normal;
	letter-spacing: 1px;
	font-variant: small-caps;
}
/***************/
/*             */
/* PRODUCT BOX */
/*             */
/***************/
div.ProductBoxSmall1
{
}
table.CenterImage
{
	width: 100%;
}
table.CenterImage td
{
	text-align: center;
}
div.ProductBoxSmall2
{
	text-align: center;
}
div.ProductBoxSmall1 img
{
	border: 0;
}

/* Product_Big */

div.ProductTemplate_Big
{
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

div.ProductTemplate_Big_Information
{
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: left;
}

div.ProductPicture img
{
	padding-top: 20px;
	padding-left: 90px;
	padding-bottom: 30px;
}

div.ProductTemplate_Big_Description
{
	padding-right: 0px;
}

div.ProductTemplate_Big_Sku
{
	color: Black;
	font-weight: 700;
	font-size: 14px;
}

div.ProductTemplate_Big_Price
{
	padding-top: 20px;
	color: #5d9c1a;
	font-weight: 700;
	font-size: 14px;
}

div.ProductTemplate_Big_Vat
{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #5d9c1a;
	font-weight: 700;
	font-size: 14px;
}

div.ProductTemplate_Big_Buttons
{
	text-align: left;
	padding-bottom: 20px;
}

div.Product_Big_Related
{
	width: 100%;
}

div.Product_Big_Related td
{
	padding-left: 10px;
	padding-bottom: 5px;
	vertical-align: top;
}

div.ProductTemplate_Big_AddToCartButton
{
	padding-left: 5px;
}

div.ProductTemplate_Big_AddToFavoritesButton
{
	padding-left: 5px;
}

div.ProductTemplate_Big_AdditionalInformation
{
	padding-top: 10px;
}

div.ProductTemplate_Big_AdditionalInformation img
{
	/*float: left;*/
}

div.ProductTemplate_Big_AdditionalHeading
{
	color: #666666;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	height: 30px;
	line-height: 14px;
}

/*
  $Id: stylesheet.css,v 1.56 2003/06/30 20:04:02 hpdl Exp $

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2003 osCommerce

  Released under the GNU General Public License
*/

.boxText
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}
.errorBox
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background: #ffb3b5;
	font-weight: bold;
}
.stockWarning
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #cc0033;
}
.productsNotifications
{
	background: #D7E9F7;
}
.orderEdit
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #323233;
	text-decoration: underline;
}

BODY
{
	background: #ffffff;
	color: #000000;
	margin: 0px;
}

.infoBox
{
	background: #0e799c;
}

.infoBoxContents
{
	background: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

/*  A {
  color: #000000;
  text-decoration: none;
}

A:hover {
  color: #AABBDD;
  text-decoration: underline;
}  */

FORM
{
	display: inline;
}
R.header
{
	background: #ffffff;
}
TR.headerNavigation
{
	background: #bbc3d3;
}
TD.headerNavigation
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background: #bbc3d3;
	color: #ffffff;
	font-weight: bold;
}
/*  A.headerNavigation { 
  color: #FFFFFF; 
}

A.headerNavigation:hover {
  color: #ffffff;
}  */

TR.headerError
{
	background: #ff0000;
}
TD.headerError
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #ff0000;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
TR.headerInfo
{
	background: #00ff00;
}
TD.headerInfo
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #00ff00;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
/*  TR.footer {
  background: #bbc3d3;
}  

TD.footer {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #bbc3d3;
  color: #ffffff;
  font-weight: bold;
}*/
.infoBoxNotice
{
	background: #FF8E90;
}
.infoBoxNoticeContents
{
	background: #FFE6E6;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}
TD.infoBoxHeading
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background: #bbc3d3;
	color: #ffffff;
}
TD.infoBox, SPAN.infoBox
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}
TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd
{
	background: #f8f8f9;
}
TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even
{
	background: #f8f8f9;
}
TABLE.productListing
{
	border: 1px;
	border-style: solid;
	border-color: #b6b7cb;
	border-spacing: 1px;
}
.productListing-heading
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background: #b6b7cb;
	color: #FFFFFF;
	font-weight: bold;
}
TD.productListing-data
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

TD.pageHeading, DIV.pageHeading
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #9a9a9a;
}

TR.subBar
{
	background: #f4f7fd;
}

TD.subBar
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
}

/*
 * Order
 */

div.Order_Lines th, div.Order_Lines td
{
	padding-left: 3px;
	padding-right: 3px;
}
div.Order_Lines th
{
	font-weight: normal;
	text-decoration: underline;
}
div.Order_Lines td
{
}


/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
TD.main, P.main
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.5;
}
TD.smallText, SPAN.smallText, P.smallText
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}
TD.accountCategory
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #aabbdd;
}
TD.tableHeading
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
SPAN.greetUser
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #f0a480;
	font-weight: bold;
}
TABLE.formArea
{
	background: #f1f9fe;
	border-color: #7b9ebd;
	border-style: solid;
	border-width: 1px;
}
TD.formAreaTitle
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
SPAN.markProductOutOfStock
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #c76170;
	font-weight: bold;
}
SPAN.errorText
{
	font-family: Verdana, Arial, sans-serif;
	color: #ff0000;
}
.moduleRow
{
}
.moduleRowOver
{
	background-color: #D7E9F7;
	cursor: pointer;
	cursor: hand;
}
.moduleRowSelected
{
	background-color: #D7E9F7;
}

.checkoutBarFrom, .checkoutBarTo
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #8c8c8c;
}
.checkoutBarCurrent
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
}

/* message box */
.messageBox
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}
.messageStackError, .messageStackWarning
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background-color: #ffb3b5;
}
.messageStackSuccess
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background-color: #99ff00;
}

#myse select
{
	width: 90%;
}
/* input requirement */
.inputRequirement
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #ff0000;
}
/* -------------------------------------------------          -------------------------------------------------------- */
del
{
	color: #a8a8a8;
	font-size: 12px;
	font-weight: bold;
}
s
{
	color: #a8a8a8;
	font-size: 11px;
	font-weight: normal;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */

.vam
{
	vertical-align: middle;
}
.border
{
	border: 1px solid #0E799C;
}
.bg
{
	background: url(images/1_bg.gif);
}
.bg2
{
	background: url(images/4_bg2.gif);
}


.header td
{
	color: #ffffff;
}
.header span
{
	color: #ffffff;
	font-size: 10px;
}
.header b
{
	color: #ffffff;
}
.header a, .header a:link, .header a:visited
{
	color: #E5FF53;
	text-decoration: underline;
	font-size: 11px;
}
.header a:hover
{
	color: #E5FF53;
	text-decoration: none;
}
.header strong a
{
	color: #C9CBBD;
	text-decoration: underline;
	font-size: 11px;
}
.header strong a:hover
{
	color: #C9CBBD;
	text-decoration: none;
}

#input1
{
	width: 37px;
	height: 18px;
	color: #3F4143;
	font-size: 10px;
	font-family: tahoma;
	text-align: right;
}

#input2
{
	width: 37px;
	height: 18px;
	color: #3F4143;
	font-size: 10px;
	font-family: tahoma;
	text-align: right;
}


.jamp
{
	width: 123px;
	height: 18px;
	color: #464646;
	font-size: 10px;
	padding-left: 4px;
	font-family: Tahoma;
}
.jamp1
{
	width: 119px;
	height: 20px;
	color: #A6A6A6;
	font-size: 11px;
	padding-left: 2px;
	font-family: Tahoma;
}
.jamp2
{
	width: 137px;
	height: 18px;
	color: #464646;
	font-size: 10px;
	padding-left: 2px;
	font-family: Tahoma;
}
.jamp3
{
	width: 184px;
	height: 18px;
	color: #464646;
	font-size: 10px;
	padding-left: 2px;
	font-family: Tahoma;
}


.box_header_txt td
{
	height: 21px;
	vertical-align: middle;
	background: url(images/li.gif);
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 11px;
}

.box_body .bg_list a
{
	background: url(images/catlist.gif) left top no-repeat;
	background-position: 0 4px;
	line-height: 20px;
	color: #353535;
	text-decoration: none;
	padding-left: 29px;
}
.box_body .bg_list_un a
{
	color: #A10E04;
	text-decoration: underline;
	padding-left: 10px;
}
.box_body .bg_list_sub a
{
	background: url(images/catlist.gif) left top no-repeat;
	background-position: 0 4px;
	line-height: 20px;
	color: #353535;
	text-decoration: none;
	padding-left: 29px;
	margin-left: 14px;
}


.cont_header_txt td
{
	height: 21px;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 11px;
	vertical-align: middle;
}
.cont_header_txt a
{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
	vertical-align: middle;
}
.cont_header_txt a:hover
{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
}

.product td
{
	color: #323232;
	font-size: 11px;
}
.product b a
{
	color: #323232;
	font-size: 11px;
	text-decoration: none;
	background: url(images/1_bg1.gif) left top no-repeat;
	background-position: 0 3px;
	padding-left: 15px;
}
.product b a:hover
{
	color: #323232;
	text-decoration: underline;
}
.product span
{
	color: #323232;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.product b
{
	color: #5D9C1A;
	font-size: 12px;
	font-weight: bold;
}

.product div a
{
	color: #595959;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}
.product div a:hover
{
	color: #595959;
	text-decoration: underline;
}


.pic img
{
	border: 0px solid #D4D4D4;
}

.result td
{
	color: #323232;
	height: 43px;
	vertical-align: middle;
}
.result a
{
	color: #323232;
	text-decoration: underline;
}
.result a:hover
{
	color: #323232;
	text-decoration: none;
}
.result b
{
	color: #323232;
	font-weight: normal;
}

.result u
{
	text-decoration: underline;
	color: #323232;
}
.result_right
{
	text-align: right;
}
.result_right b
{
	color: #323232;
	font-weight: bold;
}

.popup td
{
	color: #323232;
	font-size: 11px;
}
.popup b
{
	color: #323232;
	font-size: 11px;
	text-transform: uppercase;
}
.popup a
{
	color: #323232;
	font-size: 11px;
	text-decoration: none;
}
.popup a:hover
{
	color: #323232;
	text-decoration: underline;
}



.footer
{
	background: url(images/li.gif) repeat-x top;
}
.footer td
{
	color: #676767;
	font-size: 11px;
}
.footer a
{
	color: #676767;
	font-size: 11px;
	text-decoration: none;
}
.footer a:hover
{
	color: #676767;
	text-decoration: underline;
}
.footer span a
{
	color: #0383B8;
	font-size: 11px;
	text-decoration: underline;
}
.footer span a:hover
{
	color: #0383B8;
	text-decoration: none;
}

.footer1 a
{
	color: #676767;
	font-size: 11px;
	text-decoration: none;
}
.footer1 a:hover
{
	color: #676767;
	text-decoration: underline;
}


.footer1 td
{
	color: #676767;
	font-size: 11px;
}


/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.box_body td
{
	color: #323232;
	font-size: 11px;
}

.box_body a
{
	color: #323232;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	text-decoration: underline;
}
.box_body a:hover
{
	color: #323232;
	text-decoration: none;
}

.box_body span a
{
	color: #323232;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.box_body span a:hover
{
	color: #323232;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

SPAN.newItemInCart
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #D52D01;
}
.box_body a SPAN.newItemInCart
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #D52D01;
	text-decoration: underline;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.smallText a
{
	color: #323233;
	font-size: 11px;
	text-decoration: none;
}
/*  advanced_search.php  */
.smallText a:hover
{
	color: #323233;
	font-size: 11px;
	text-decoration: underline;
}
.smallText a u
{
	color: #323233;
	font-size: 11px;
	text-decoration: none;
}
.smallText a:hover u
{
	color: #323233;
	font-size: 11px;
	text-decoration: underline;
}

TD.fieldKey
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
TD.fieldValue
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
.main a b
{
	color: #5D5F60;
	font-size: 10px;
	text-decoration: underline;
}
.main a:hover b
{
	color: #5D5F60;
	font-size: 10px;
	text-decoration: none;
}
/* -------------------------------------------------          -------------------------------------------------------- */
span.txt_1
{
	font-size: 10px;
	text-transform: none;
	color: #000000;
}

SPAN.productSpecialPrice, .product SPAN.productSpecialPrice
{
	color: #5D9C1A;
	font-size: 12px;
	font-weight: bold;
}
.box_body SPAN.productSpecialPrice
{
	color: #5D9C1A;
	font-size: 12px;
	font-weight: bold;
}

.cont_header_txt em
{
	color: #E50029;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	text-decoration: none;
}
.product em
{
	color: #323232;
	font-size: 11px;
	text-decoration: none;
	background: url(images/1_bg1.gif) left top no-repeat;
	background-position: 0 3px;
	padding-left: 15px;
	font-weight: bold;
	font-style: normal;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.main a
{
	color: #323233;
	text-decoration: underline;
}
.main a:hover
{
	color: #323233;
	text-decoration: none;
}
.vam
{
	vertical-align: middle;
}
/* -------------------------------------------------          -------------------------------------------------------- */
/* -------------------------------------------------          -------------------------------------------------------- */
.product .shop_cart
{
	color: #323233;
	font-size: 11px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
}

.padd_1
{
	padding: 0px 10px 0px 10px;
}
.padd_2
{
	padding: 8px;
}
.padd2 td
{
	padding: 8px;
}


.line_h
{
	line-height: 16px;
}

.bg_gg
{
	background: url(images/bg_gg.gif) center left repeat-x;
}
.bg_vv
{
	background: url(images/1_bg.gif) repeat-y bottom #ffffff;
}
.bg_gg_1
{
	background: url(images/4_bg2.gif) center left repeat-x;
}


.product div
{
	padding: 8px 5px 5px 5px;
}
div.padd3
{
	text-align: left;
	padding: 0px;
}

.prod_info
{
	width: 100px;
}
.prod_info td
{
	text-align: center;
}

.remove
{
	width: 20%;
}
.products
{
	width: 45%;
}
.quantity
{
	width: 15%;
}
.total
{
	width: 20%;
}

/* -------------------------------------------------          -------------------------------------------------------- */
.box_width_left
{
	width: 200px;
}
.box_width_right
{
	width: 25px;
}
.box_width_cont
{
	width: 100%;
}

/* -------------------------------------------------          -------------------------------------------------------- */

.toolTipShadow
{
	background: url(  "../../images/shadow.png" ) no-repeat right bottom !important;
	margin-left: 25px;
	margin-top: 35px;
}

.toolTipContent
{
	left: -6px;
	top: -6px;
	background-color: #FFF8DC; /*#FFFAF0;/*#FFF0F5;/*#FFFACD;*/
	border: solid black 1px;
	padding: 5px;
	font: bold 10pt sans-serif;
}


.pickuppage
{
	padding-top: 20px;
	padding-left: 30px;
}

.headertext
{
	padding-bottom: 10px;
}

.headtextinside
{
	font: bold 10pt sans-serif;
}

.chkboxinside
{
	padding-left: 10px;
}

.InpL
{
	font: bold 8pt sans-serif;
}

.tmpl2text
{
	font: 7.5pt verdana;
	color: #000066;
	border-width: 0px;
	height: 11px;
	width: 142px;
}

.tmpl2output
{
	width: 80px;
	border-spacing: 0px;
	border-width: 0px;
	font: 7.5pt verdana;
	color: #000066;
}

.tmpl2table
{
	width: 232px;
	border-spacing: 0px;
}

.majorshipdiv
{
	padding-left: 30px;
	width: 465px;
	border-top: solid 5px #003366; /* border-bottom: dashed 2px red; */
}

.linediv
{
	border-bottom: solid 5px #003366; /* Baker's Chocolate rgb= #5C3317 Dim Grey rgb= #545454 Dark Brown rgb= #5C4033 Very Dark Brown rgb= #5C4033 */
}

.newaddress
{
	border-bottom: solid 1px #003366;
}

.Output1GroupBtn
{
	color: #003366;
}

.Output1BtnC
{
	color: #003366;
	font: 7.5pt verdana;
}

div.pricelisttemplate
{
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.pricelisttemplate td
{
	padding-left: 18px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 6px;
}

.testclass1
{
	width: 100%;
	border-bottom: ridge 2px black;
}

.testclass2
{
	width: 100%;
	border-bottom: groove 1px black;
	margin-top: 10px;
}

.leftPricelistHeaderColumn
{
	width: 42%;
}

.pricelistImg img
{
	width: 100px;
}

.pricelistImgH img
{
	height: 140px;
}
.pricelistHeading
{
	font-weight: 500;
	font-size: 11px;
	color: MenuText;
}
.pricelistText
{
	color: #eb7f00;
	font-weight: 800;
	font-size: 12px;
}
td.priceListPrice
{
	text-align: right;
}
.priceListPrice
{
	color: #cc0000;
	font-weight: 700;
	font-size: 12px;
}
.pricelistTemplateHeader
{
	color: #003333;
	font-weight: 700;
	font-size: 11px;
	padding-bottom: 18px;
	padding-left: 15px;
}
.pricelistDataList
{
	width: 480px;
}

.miniCartFrameRow
{
	position: relative;
	left: -5px;
	top: 20px;
	vertical-align: middle;
	height: 30px;
	width: 120px;
	background-color: Transparent;
}

.miniCartFrame
{
	width: 120px;
	background-color: transparent;
}

.cartIFrame
{
	width: 120px;
	background-color: transparent;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 5pt;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
	margin-top: 4px;
}

.frameLink
{
	width: 120px;
	text-decoration: none;
	color: #ffffff; /* 1c56ff */
	font-size: xx-small;
	background-color: transparent;
}

table.SearchResultGrid td
{
	text-align:center;
	padding: 5px;
}


td.SearchResultQuantity
{
	text-align: center;
}
input.SearchResultQuantity
{
	width: 30px;
}
span.SearchHiLite
{
	background-color: #00ffcc;
}
div.FrontPageImage
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
div.FrontPageText
{
	margin-top: 10px;
	margin-right: 10px;
}
div.FrontPageMostPopular
{
	clear: both;
}
li
{
	line-height: 18px;
}

div.userNewText
{
	font-weight: 900;
	font-size: 13px;
	color: #545454;
}
div.userNewText td
{
	color: Olive;
	padding-right: 5px;
	font-size: 11px;
}

div.userNewText span
{
	vertical-align: middle;
}

div.userNewText select
{
	color: #545454;
	font-weight: 500;
	font-size: 12px;
	vertical-align: middle;
}

.none
{
	font-weight: 500;
	font-size: 12px;
	text-indent: 3px;
}

.borderTextBox, .userNewTextBoxZipCode, .userNewTextBoxState, .cartProduct, .cartQuantity, .cartOptional, .favoriteQuantity, .shippingAddressTextBox
{
	color: #545454;
	font-weight: 500;
	font-size: 12px;
	vertical-align: bottom;
	border: inset 2px;
	text-indent: 3px;
}

.shippingAddressTextBox
{
	width: 140px;
	height: 16px;
}

.borderTextBox
{
	width: 150px;
	height: 16px;
}

.userNewTextBoxZipCode
{
	width: 60px;
	height: 16px;
}

.userNewTextBoxState
{
	width: 30px;
	height: 16px;
}

.shippingBorderDropDownList, .borderDropDownList
{
	position: relative;
	top: -4px;
	left: -3px;
}

.borderDropDownList
{
	width: 159px;
	height: 25px;
	padding-bottom: 0px;
}

.shippingBorderDropDownList
{
	width: 149px;
	height: 25px;
	padding-bottom: 0px;
}

.dpdBorder, .dpdShippingBorder
{
	border: inset 2px;
	float: left;
	overflow: hidden;
	position: relative;
	margin-left: 3px;
}

.dpdBorder
{
	width: 153px;
	height: 16px;
}

.dpdShippingBorder
{
	width: 143px;
	height: 16px;
}

.TDR
{
	height: 25px;
	text-align: right;
	vertical-align: middle;
}

.TDL
{
	vertical-align: middle;
}

.TR1
{
	padding: 2px;
	vertical-align: middle;
}

.TDL, .TDC, .TDR, .THL, .THC, .THR
{
	white-space: nowrap;
}

.shippingAddressFieldLabel
{
	padding-right: 2px;
}
div.CatalogOverviewPage ul
{
	margin-left: 20px;
}
div.CatalogOverviewPage li
{
	list-style-type: square;
	list-style-position: inside;
	line-height: 18px;
}

div.PaymentMethodPage
{
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
}

div.PaymentMethodPage th
{
	text-align: left;
}

div.ShippingProviderPage
{
	padding-left: 20px;
	padding-bottom: 20px;
}

div.ProductPriceListUpdated_Description
{
	height: 60px;
	display: block;
	overflow: hidden;
}
div.ProductPriceList_Description
{
	height: 28px;
	display: block;
	overflow: hidden;
}
div.ProductPriceList_Description a
{
	color: #636363;
	font-size: 11px;
	vertical-align: middle;
	text-decoration: none;
}
div.ProductPriceListUpdated_Description a
{
	color: #636363;
	font-size: 11px;
	vertical-align: middle;
	text-decoration: none;
}

