﻿/* Cart */
body,
table.Order tbody
{
	font-family: Tahoma;
	font-size: 11px;
	color: #636363;
}
table.Order
{
	width: 520px;
}

table.Order_Header
{
	width: 100%;	
	margin-bottom: 20px;
}
td.OrderHeader_Address,
td.OrderHeader_ShipToAddress
{
	text-align: left;	
	width: 50%;	
	vertical-align: top;
}
td.OrderHeader_Address
{
	padding-right: 10px;
}
td.OrderHeader_ShipToAddress
{
	padding-left: 10px;
}
table.Order_Address,
table.Order_ShipToAddress
{
	width: 100%;	
}
td.Order_AddressHeader,
td.Order_ShipToAddressHeader,
td.Order_AdditionalInfo_Label
{
	padding: 3px;
	font-weight: bold;	
	border-bottom: 1px dotted #999999;
}

table.Order_Date,
table.Order_PaymentInfo
{
	width: 100%;
	text-align: left;
}
table.Order_AdditionalInfo
{
	text-align: left;
}
table.Order_AdditionalInfo,
table.Order_PaymentInfo
{
	xclear: both;
	margin-bottom: 10px;	
}
td.Order_AdditionalInfo_Label
{
	width: 50%;	
}
td.Order_DateCaption,
td.Order_PONumberCaption,
td.Order_CommentCaption,
td.Order_PaymentTypeCaption,
td.Order_PaymentTransactionCaption
{
	width: 30%;
	padding-right: 10px;
}
td.Order_DateValue,
td.Order_PONumberValue,
td.Order_CommentValue,
td.Order_PaymentTypeValue,
td.Order_PaymentTransactionValue
{
	width: 70%;
}
table.OrderLines
{
	clear: both;
	width: 100%;	
}
tr.CartLineFields td,
tr.CartLineFieldsAlt td

{
	background-color: #ffffff;
	padding-top: 5px;
	padding-right: 5px;
	border-bottom: 1px dotted #999999;
}
th.CartLineHeader_Thumbnail,
th.CartLineHeader_Quantity,
th.CartLineHeader_Price,
th.CartLineHeader_DiscountAmount,
th.CartLineHeader_DiscountPct,
th.CartLineHeader_Total,
th.CartLineHeader_Comment
{
	padding: 2px;
	text-align: right;
	padding-left: 10px;
}
th.CartLineHeader_Name
{
	padding: 2px;
	text-align: left;
}

th.CartLineHeader_ProductGuid,
th.CartLineHeader_Comment
{
	display: none;	
}
td.CartLineField_Thumbnail
{
	line-height: 80px;
	height: 80px;
}
td.CartLineField_EditComment
{
	display: none;
}
div.CartLineField_DeleteText
{
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 0px;
	background-image: url('delete.png');
	background-position: left 28px;
	background-repeat: no-repeat;
	position: relative;
	right: 0px;
	width: 300px;
	margin-left: -300px;
}
div.CartLineField_DeleteImage
{
	display: none;
	padding-top: 2px;
}
img.CartLineField_DeleteImage
{
	height: 16px;
	width: 16px;
	background-image: url('delete.png');
	background-repeat: no-repeat;
}



td.CartLineCaption_ProductGuid,
td.CartLineCaption_Name,
td.CartLineCaption_VariantName,
td.CartLineCaption_EditQuantity,
td.CartLineCaption_Quantity,
td.CartLineCaption_Price,
td.CartLineCaption_DiscountAmount,
td.CartLineCaption_DiscountPct,
td.CartLineCaption_Total,
td.CartLineCaption_Delete,
td.CartLineCaption_Comment
{
	display: none;	
}
td.CartLineField_Name,
td.CartLineField_NameAndVariant,
td.CartLineField_EditQuantity,
td.CartLineField_Quantity,
td.CartLineField_Price,
td.CartLineField_DiscountAmount,
td.CartLineField_DiscountPct,
td.CartLineField_Total,
td.CartLineField_Comment
{
	vertical-align: top;	
	line-height: 20px;
}
td.CartLineField_NameAndVariant
{
	text-align: left;
}
div.CartLineField_NameAndVariant a
{
	color: #eb7f00;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
}
td.CartLineField_ProductGuid,
td.CartLineField_Name,
td.CartLineField_VariantName
{
	display: none;	
}
input.CartLineField_EditQuantity
{
	width: 30px;
	font-size: 10px;
}

table.OrderTotals
{
	width: 100%;	
}
td.CartTotals_SubTotalCaption,
td.CartTotals_InvoiceDiscountCaption,
td.CartTotals_ServiceChargeCaption,
td.CartTotals_ShippingCaption,
td.CartTotals_HandlingCaption,
td.CartTotals_TotalCaption,
td.CartTotals_TaxCaption,
td.Order_ShippingInfoCaption
{
	text-align: right;	
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.CartTotals_SubTotalValue,
td.CartTotals_InvoiceDiscountValue,
td.CartTotals_ServiceChargeValue,
td.CartTotals_ShippingValue,
td.CartTotals_HandlingValue,
td.CartTotals_TotalValue,
td.CartTotals_TaxValue,
td.Order_ShippingInfoValue
{
	padding-right: 5px;
	width: 100px;
	text-align: right;
}
table.Order_TAX_Message
{
	width: 100%;	
}
td.Order_TAX_Message
{
	padding-top: 20px;
	text-align: left;
}

/* Numeric Fields */
td.CartLineField_EditQuantity,
td.CartLineField_Quantity,
td.CartLineField_Price,
td.CartLineField_DiscountAmount,
td.CartLineField_DiscountPct,
td.CartLineField_Total,
td.CartTotals_SubTotalValue,
td.CartTotals_InvoiceDiscountValue,
td.CartTotals_ServiceChargeValue,
td.CartTotals_ShippingValue,
td.CartTotals_HandlingValue,
td.CartTotals_TotalValue,
td.CartTotals_TaxValue
{
	text-align: right;	
}
td.CartTotals_TotalValue
{
	border-top: 1px solid #999999;
	font-weight: bold;
}
td.CartTotals_TaxCaption,
td.CartTotals_TaxValue
{
	padding-top: 10px;	
}
