﻿body
{
    background-image: url(bg.gif);
    background-repeat: repeat-x;
    font-family: Tahoma;
    font-size: 11px;
    color: #636363;
    margin: 0px;
}
ol, ul
{
    line-height: 16px;
}
h1
{
    font-size: 16px;
}
h2
{
    font-size: 14px;
}
a
{
    color: #3333ff;
    text-decoration: none;
}
div.Warning, h2.Warning
{
    color: #ff6666;
}
.PageHeader
{
    display: none;
}
#LogoTD
{
    background-image: url(logo.gif);
    background-repeat: no-repeat;
}
td.MiniCartLeft
{
    background-image: url(minicart_left.gif);
    background-repeat: no-repeat;
}
td.MiniCartCenter
{
    background-image: url(minicart_middle.gif);
    background-repeat: repeat-x;
}
td.MiniCartRight
{
    background-image: url(minicart_right.gif);
    background-repeat: no-repeat;
}
div.MiniCartCaption, div.MiniCartContent
{
    font-weight: bold;
    display: inline;
}
div.MiniCartCaption
{
    color: #000000;
    padding-right: 8px;
}
div.MiniCartContent a
{
    color: #2ab5d8;
    text-decoration: none;
}
div.MiniCartContent a:hover
{
    text-decoration: underline;
}
#QuickSearchTD
{
    background-image: url(menu_left.gif);
    background-repeat: no-repeat;
}
input.QuickSearch
{
    font-size: 10px;
    margin-right: 5px;
    background-color: #ffffd0;
    border: 0;
}
td.MenuItems
{
    background-image: url(menu_bg.gif);
    background-repeat: repeat-x;
}
td.MenuRight
{
    background-image: url(menu_right.gif);
    width: 4px;
    background-repeat: no-repeat;
}

div.TopMenu div.MenuItemsLine
{
    background: #ffff00;
}
div.TopMenu div.MenuItem, div.TopMenu div.MenuItem div, div.TopMenu div.MenuItemSeparatorFirst, div.TopMenu div.MenuItemSeparatorLast, div.TopMenu div.MenuItemSeparator, div.TopMenu div.MenuItemSeparator div
{
    float: left;
    line-height: 69px;
}
div.TopMenu div.MenuItem div a
{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 12px;
}
div.TopMenu div.MenuItem div
{
    text-align: center;
    width: 90px;
    padding-top: 2px;
}
div.TopMenu div.MenuItemSeparator div
{
    width: 2px;
    height: 64px;
    background-image: url(menu_separator.gif);
    background-repeat: repeat-x;
}
div.TopMenu div div.MenuItem_Register, div.TopMenu div div.MenuItemSeparator_Register, div.TopMenu div div.MenuItem_Search, div.TopMenu div div.MenuItemSeparator_Search, div.TopMenu div div.MenuItem_Order, div.TopMenu div div.MenuItemSeparator_Order, div.TopMenu div div.MenuItem_Cart, div.TopMenu div div.MenuItemSeparator_Cart, div.TopMenu div div.MenuItem_Catalog, div.TopMenu div div.MenuItemSeparator_Catalog, div.TopMenu div div.MenuItem_InformationPage, div.TopMenu div div.MenuItemSeparator_InformationPage
{
    display: none;
}

/*
 * Bottom Menu
 */
div.BottomMenu
{
    display: inline;
}
div.MenuItemsLine
{
    text-align: right;
}
div.BottomMenu div.MenuItem
{
}
div.BottomMenu div.MenuItem, div.BottomMenu div.MenuItem div, div.BottomMenu div.MenuItemSeparator, div.BottomMenu div.MenuItemSeparator div
{
    display: inline;
}
div.BottomMenu div.MenuItem
{
    margin-left: 0px;
    margin-right: 0px;
}
div.BottomMenu div.MenuItem A
{
    color: #676767;
    font-size: 11px;
}
div.BottomMenu div.MenuItemSeparator div
{
    border-left: 1px solid #999999;
    margin-left: 6px;
    margin-right: 6px;
    width: 0px;
    height: 10px;
    margin-top: 2px;
}
div.BottomMenu div.MenuItemSeparatorFirst, div.BottomMenu div.MenuItemSeparatorLast
{
    display: none;
}
div.BottomMenu div div.MenuItem_Home, div.BottomMenu div div.MenuItemSeparator_Home, div.BottomMenu div div.MenuItem_Order, div.BottomMenu div div.MenuItemSeparator_Order
{
    display: none;
}



br.BoxSeperator
{
    line-height: 15px;
}
div.CatalogTree
{
    background-image: url(catalog_bg.gif);
}
div.CatalogTree A
{
    color: #011535;
    text-decoration: none;
}
div.CatalogTree A:hover
{
    text-decoration: underline;
}
div.CatalogTreeNode, div.CatalogTreePath, div.CatalogTreeSelected
{
    height: 22px;
    line-height: 22px;
}
div.CatalogTreeImageNode, div.CatalogTreeImagePath, div.CatalogTreeImageSelected
{
    width: 17px;
    height: 22px;
    background-image: url(bg_list.gif);
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeImageSelected
{
    width: 27px;
}
div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageSelected
{
    width: 37px;
}
div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageNode, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImagePath, div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeIndent div.CatalogTreeImageSelected
{
    width: 47px;
}

div.CatalogTreeIndent
{
    margin-left: 0px;
}
div.CatalogTreeNode, div.CatalogTreePath, div.CatalogTreeSelected
{
    cursor: pointer;
}

/*
 * Breadcrumbs
 */

div.Breadcrumb, div.BreadcrumbSeparator
{
    display: inline;
    color: #ffffff;
    font-size: 10px;
}
div.Breadcrumb
{
}
a.Breadcrumb
{
    color: #ffffff;
    text-decoration: none;
}
a.Breadcrumb:hover
{
    text-decoration: underline;
}
div.BreadcrumbSeparator
{
    padding-left: 5px;
    padding-right: 5px;
}

/**********/

table.BoxHeaderTableOuter, table.BoxContentTableOuter, table.BoxFooterTableOuter, table.BoxTable
{
    width: 100%;
}
td.BoxHeaderLeft, td.BoxHeaderRight, td.BoxHeaderCenter
{
    height: 35px;
    line-height: 21px;
}
td.BoxHeaderLeft
{
    background-image: url(box_header_left.gif);
    background-repeat: repeat-x;
    width: 8px;
}
td.BoxHeaderRight
{
    background-image: url(box_header_right.gif);
    background-repeat: repeat-x;
    width: 9px;
    background-repeat: no-repeat;
    background-position: right top;
}
td.BoxHeaderCenter
{
    background-image: url(box_header_center.gif);
    background-repeat: repeat-x;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
}
td.BoxHeaderCenter a
{
    color: #ffffff;
}
tr.BoxUnderHeaderRowOuter
{
    display: none;
}
td.BoxContentLeft
{
    border-left: 1px solid #bfbfbf;
    width: 0px;
}
td.BoxContentRight
{
    border-right: 1px solid #bfbfbf;
    width: 0px;
}
td.BoxContentCenter
{
    padding: 4px;
    padding-top: 7px;
    width: 0px;
}


td.BoxFooterLeft, td.BoxFooterRight, td.BoxFooterCenter
{
    height: 8px;
}
td.BoxFooterLeft
{
    background-image: url(box_footer_left.gif);
    background-repeat: repeat-x;
    width: 9px;
}
td.BoxFooterRight
{
    background-image: url(box_footer_right.gif);
    background-repeat: repeat-x;
    width: 9px;
    background-repeat: no-repeat;
}
td.BoxFooterCenter
{
    color: #ffffff;
    border-bottom: 1px solid #bfbfbf;
}


table.Footer
{
    margin-top: 12px;
    width: 100%;
}
td.FooterLeft
{
    background-image: url(  "footer_left.gif" );
    background-repeat: no-repeat;
    width: 10px;
    height: 56px;
}
td.FooterCenter
{
    background-image: url(  "footer_center.gif" );
    background-repeat: repeat-x;
    height: 56px;
}
td.FooterRight
{
    background-image: url(  "footer_right.gif" );
    background-repeat: no-repeat;
    width: 10px;
    height: 56px;
}
div.CreditCards
{
    display: inline;
}

table.GroupProductList
{
}
td.GroupProductListItem
{
    padding: 0px;
    padding-right: 15px;
}
div.ProductDisplayList
{
    background: #ffffff;
    position: relative;
    background-image: url(productlist_bg.gif);
    background-repeat: no-repeat;
    height: 134px;
    width: 257px;
    border-bottom: 1px solid #cccccc;
}
/* AM0122201001 - UOM - Start */
div.ProductDisplayList3
{
    background: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    height: 300px;
    width: 257px;
    border-bottom: 1px solid #cccccc;
}
/* AM0122201001 - UOM - End */
div.ProductDisplayList_AddButton a, div.ProductDisplayList_DetailsLink a
{
    color: #377fb7;
}
div.ProductDisplayList_Price a
{
    color: #c72f2f;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
div.ProductDisplayList_SecondaryPrice a
{
    color: #999999;
    font-size: 8px;
    font-weight: 700;
    text-decoration: none;
}
div.ProductDisplayList_Guid
{
    display: none;
}
div.ProductDisplayList_Thumbnail
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 98px;
    line-height: 98px;
    width: 95px;
    display: block;
    overflow: hidden;
    text-align: center;
}
/* AM0122201001 - UOM - Start */
div.ProductDisplayList_Name, div.ProductDisplayList_Description, div.ProductDisplayList_Qty
{
    position: absolute;
    left: 98px;
    width: 150px;
}
td.UOMDescription
{
    width: 150px;
    padding-left: 5px;
}
/* AM0122201001 - UOM - End */
div.ProductDisplayList_Name
{
    height: 35px;
    line-height: 35px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0px;
    vertical-align: middle;
}
div.ProductDisplayList_Name a
{
    color: #eb7f00;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}
div.ProductDisplayList_Description
{
    height: 40px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50px;
}
/* AM0122201001 - UOM - Start */
div.ProductDisplayList_Qty
{
    left: 95px;
    display: block;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 95px;
}
div.ProductDisplayList_Qty_UOM
{
    height: 40px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 150px;
    left: 0;
    width: 95px;
}
div.ProductDisplayList_UOM
{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 150px;
    left: 0;
}
/* AM0122201001 - UOM - End */
div.ProductDisplayList_Description a
{
    color: #636363;
    font-size: 11px;
    vertical-align: middle;
    text-decoration: none;
}
div.ProductDisplayList_Qty a
{
    color: #636363;
    font-size: 11px;
    vertical-align: middle;
    text-decoration: none;
}
div.ProductDisplayList_DetailsLink, div.ProductDisplayList_AddButton
{
    height: 27px;
    line-height: 27px;
}
div.ProductDisplayList_Price
{
}
div.ProductDisplayList_DetailsLink
{
    width: 63px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 102px;
    left: 190px;
    text-align: center;
}
div.ProductDisplayList_AddButton
{
    width: 85px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 102px;
    left: 98px;
    text-align: center;
}
div.ProductDisplayList_Price
{
    position: absolute;
    top: 102px;
    left: 0px;
    width: 95px;
    display: block;
    overflow: hidden;
    text-align: center;
}

div.ProductDisplayList_SecondaryPrice
{
    position: absolute;
    top: 119px;
    left: 0px;
    width: 95px;
    display: block;
    overflow: hidden;
    text-align: center;
}

/********************/
/*                  */
/* PRODUCT TEMPLATE */
/*                  */
/********************/
div.ProductTemplate
{
    padding-left: 10px;
    padding-right: 10px;
}
table.ProductTemplate
{
    width: 100%;
    margin-right: 20px;
}
table.ProductTemplate td
{
    vertical-align: top;
}

div.ProductTemplate_Heading
{
    color: #eb7f00;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #cccccc;
}
div.ProductTemplate_Description
{
    border-bottom: red 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
}
div.ProductTemplate_Picture
{
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
}
div.ProductTemplate_Buttons
{
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
}
table.ProductTemplate_Buttons
{
    width: 100%;
}
table.ProductTemplate_Buttons td
{
    text-align: center;
}
div.ProductTemplate_AddToCartButton
{
}
div.ProductTemplate_AdditionalInformation
{
    margin-bottom: 10px;
}
div.ProductTemplate_AdditionalHeading, div.ProductTemplate_RelatedHeading
{
    color: #666666;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
}
div.ProductTemplate_Related
{
    padding-top: 10px;
    border-top: 1px dashed #cccccc;
}
div.ProductTemplate_Caption_Price, div.ProductTemplate_Caption_SKU, div.ProductTemplate_SKU
{
    display: none;
}
div.ProductTemplate_Price
{
    text-align: center;
    color: #cc0000;
    font-weight: 700;
    font-size: 14px;
}
div.ProductTemplate_SecondaryPrice
{
    text-align: center;
    color: #999999;
    font-weight: 700;
    font-size: 8px;
}
div.ProductTemplate_Enlarge
{
    text-align: center;
    margin-bottom: 10px;
}
div.ProductTemplate_Enlarge a
{
    color: #333333;
    text-decoration: underline;
}
div.ProductTemplate_Hyperlink div.ProductTemplate_Attachment
{
    height: 20px;
}
div.AttachmentSubTypeDOC a, div.AttachmentSubTypePDF a, div.AttachmentSubTypeXLSX a, div.AttachmentSubTypePPT a, div.AttachmentSubTypeTXT a, div.ProductTemplate_Hyperlink a
{
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
div.AttachmentSubTypeDOC a
{
    background-image: url(../../images/filetypes/doc16.png);
}
div.AttachmentSubTypePDF a
{
    background-image: url(../../images/filetypes/pdf16.png);
}
div.AttachmentSubTypeTXT a
{
    background-image: url(../../images/filetypes/txt16.png);
}
div.AttachmentSubTypeXLSX a
{
    background-image: url(../../images/filetypes/xls16.png);
}
div.AttachmentSubTypePPT a
{
    background-image: url(../../images/filetypes/ppt16.png);
}
div.ProductTemplate_Hyperlink a
{
    background-image: url(../../images/internet16.png);
}
div.ProductTemplate_Separator
{
    border-top: 1px dashed #cccccc;
    height: 0px;
}
/***************/
/*             */
/* PRODUCT BOX */
/*             */
/***************/
div.ProductBoxSmall1
{
}
table.CenterImage
{
    width: 100%;
}
table.CenterImage td
{
    text-align: center;
}
div.ProductBoxSmall2
{
    text-align: center;
}
div.ProductBoxSmall1 img
{
    border: 0;
}

/* Product_Big */

div.ProductTemplate_Big
{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

div.ProductTemplate_Big_Information
{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

div.ProductPicture img
{
    padding-top: 20px;
    padding-left: 90px;
    padding-bottom: 30px;
}

div.ProductTemplate_Big_Sku
{
    color: Black;
    font-weight: 700;
    font-size: 14px;
}

div.ProductTemplate_Big_Price
{
    padding-top: 20px;
    color: #cc0000;
    font-weight: 700;
    font-size: 14px;
}

div.ProductTemplate_Big_Vat
{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #cc0000;
    font-weight: 700;
    font-size: 14px;
}

div.ProductTemplate_Big_Buttons
{
    text-align: left;
    padding-bottom: 20px;
}

div.Product_Big_Related
{
    width: 100%;
}

div.Product_Big_Related td
{
    padding-left: 10px;
    padding-bottom: 5px;
    vertical-align: top;
}

div.ProductTemplate_Big_AddToCartButton
{
    padding-left: 5px;
}

div.ProductTemplate_Big_AddToFavoritesButton
{
    padding-left: 5px;
}

div.ProductTemplate_Big_AdditionalInformation
{
    padding-top: 10px;
}

div.ProductTemplate_Big_AdditionalInformation img
{
    /* float:left; */
}

div.ProductTemplate_Big_AdditionalHeading
{
    color: #666666;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    line-height: 14px;
}

.toolTipShadow
{
    background: url(  "../../images/shadow.png" ) no-repeat right bottom !important;
    margin-left: 25px;
    margin-top: 35px;
}

.toolTipContent
{
    left: -6px;
    top: -6px;
    background-color: #FFF8DC; /*#FFFAF0;/*#FFF0F5;/*#FFFACD;*/
    border: solid black 1px;
    padding: 5px;
    font: bold 10pt sans-serif;
}

.pickuppage
{
    padding-top: 20px;
    padding-left: 30px;
}

.headertext
{
    padding-bottom: 10px;
}

.headtextinside
{
    font: bold 10pt sans-serif;
}

.chkboxinside
{
    padding-left: 10px;
}

.InpL
{
    font: bold 8pt sans-serif;
}

.tmpl2text
{
    font: 7.5pt verdana;
    color: #000066;
    border-width: 0px;
    height: 11px;
    width: 142px;
}

.tmpl2output
{
    width: 80px;
    border-spacing: 0px;
    border-width: 0px;
    font: 7.5pt verdana;
    color: #000066;
}

.tmpl2table
{
    width: 232px;
    border-spacing: 0px;
}

.majorshipdiv
{
    padding-left: 30px;
    width: 465px;
    border-top: solid 5px #003366; /* border-bottom: dashed 2px red; */
}

.linediv
{
    border-bottom: solid 5px #003366; /* Baker's Chocolate rgb= #5C3317 Dim Grey rgb= #545454 Dark Brown rgb= #5C4033 Very Dark Brown rgb= #5C4033 */
}

.newaddress
{
    border-bottom: solid 1px #003366;
}

.Output1GroupBtn
{
    color: #003366;
}

.Output1BtnC
{
    color: #003366;
    font: 7.5pt verdana;
}

div.pricelisttemplate
{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.pricelisttemplate td
{
    padding-left: 18px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 6px;
}

.testclass1
{
    width: 100%;
    border-bottom: ridge 2px black;
}

.testclass2
{
    width: 100%;
    border-bottom: groove 1px black;
    margin-top: 10px;
}

.leftPricelistHeaderColumn
{
    width: 42%;
}

.pricelistImg img
{
    width: 44px;
    height: 66px;
}
.pricelistHeading
{
    font-weight: 500;
    font-size: 11px;
    color: MenuText;
}
.pricelistText
{
    color: #eb7f00;
    font-weight: 800;
    font-size: 12px;
}
.priceListPrice
{
    color: #cc0000;
    font-weight: 700;
    font-size: 12px;
}
.pricelistTemplateHeader
{
    color: #003333;
    font-weight: 700;
    font-size: 11px;
    padding-bottom: 18px;
    padding-left: 15px;
}
.pricelistDataList
{
    width: 480px;
}
div.List_Header
{
    font-weight: bold;
}
td.List_ItemStyle, td.List_AlternatingItemStyle
{
}
td.List_AlternatingItemStyle
{
    background-color: #f0f0f0;
}
input.SearchResultQuantity
{
    width: 40px;
}
table.SearchResultGrid th
{
    padding-left: 5px;
    padding-right: 5px;
}
table.SearchResultGrid td
{
    padding: 5px;
}
span.SearchHiLite
{
    background-color: #ffff00;
}
.AddToCartLink
{
    white-space: normal;
}
div.FrontPageImage
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
div.FrontPageText
{
    margin-top: 10px;
    margin-right: 10px;
}
.TDR
{
    text-align: right;
}
div.FrontPageMostPopular
{
    clear: both;
}

div.userNewText
{
    font-weight: 900;
    font-size: 13px;
    color: #545454;
}
div.userNewText td
{
    color: Olive;
    padding-right: 5px;
    font-size: 11px;
}

div.userNewText span
{
    vertical-align: middle;
}

div.userNewText select
{
    color: #545454;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
}

.none
{
    font-weight: 500;
    font-size: 12px;
    text-indent: 3px;
}

.borderTextBox, .userNewTextBoxZipCode, .userNewTextBoxState, .cartProduct, .cartQuantity, .cartOptional, .favoriteQuantity, .shippingAddressTextBox
{
    color: #545454;
    font-weight: 500;
    font-size: 12px;
    vertical-align: bottom;
    border: inset 2px;
    text-indent: 3px;
}

.shippingAddressTextBox
{
    width: 140px;
    height: 16px;
}

.borderTextBox
{
    width: 150px;
    height: 16px;
}

.userNewTextBoxZipCode
{
    width: 60px;
    height: 16px;
}

.userNewTextBoxState
{
    width: 30px;
    height: 16px;
}

.shippingBorderDropDownList, .borderDropDownList
{
    position: relative;
    top: -4px;
    left: -3px;
}

.borderDropDownList
{
    width: 159px;
    height: 25px;
    padding-bottom: 0px;
}

.shippingBorderDropDownList
{
    width: 149px;
    height: 25px;
    padding-bottom: 0px;
}

.dpdBorder, .dpdShippingBorder
{
    border: inset 2px;
    float: left;
    overflow: hidden;
    position: relative;
    margin-left: 3px;
}

.dpdBorder
{
    width: 153px;
    height: 16px;
}

.dpdShippingBorder
{
    width: 143px;
    height: 16px;
}

.TDR
{
    height: 25px;
    text-align: right;
    vertical-align: middle;
}

.TDL
{
    vertical-align: middle;
}

.TR1
{
    padding: 2px;
    vertical-align: middle;
}

.TDL, .TDC, .TDR, .THL, .THC, .THR
{
    white-space: nowrap;
}

.shippingAddressFieldLabel
{
    padding-right: 2px;
}
div.CatalogOverviewPage ul
{
    margin-left: 20px;
}
div.CatalogOverviewPage li
{
    list-style-type: square;
    list-style-position: inside;
    line-height: 18px;
}

div.PaymentMethodPage
{
    padding-top: 20px;
    padding-left: 10px;
}

div.PaymentMethodPage th
{
    text-align: left;
}

div.LanguagePlaceHolderDropDown
{
    margin-right: 13px;
}

div.LanguagePlaceHolderFlags
{
    margin-left: 35px;
    margin-right: 35px;
}

div.ShippingProviderPage
{
    padding-left: 20px;
    padding-bottom: 20px;
}

div.ProductPriceList_Description
{
    height: 28px;
    display: block;
    overflow: hidden;
}
div.ProductPriceList_Description a
{
    color: #636363;
    font-size: 11px;
    vertical-align: middle;
    text-decoration: none;
}
/*Catalog tree text color*/

a.CatalogText
{
    color: #323233;
}
/*Shipping box styles*/
div.providerPanel
{
    border: 1px solid #999999;
    height: 153px;
    width: 330px;
}
/*Additonal Information box styles*/
div.panelCartNotEmpty
{
    border: 1px solid #999999;
    height: 153px;
    width: 330px;
}
table.PaginationStyle
{
    background-image:url(box_header_center.gif);
   background-repeat: repeat-x;
    height: 24px;
}
