﻿/*WGS - FOR PARSELY VALIDATION ON YOUR NAME AND YOUR EMAIL IN ADDITIONAL INFORMATION IN THE CART*/
input.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
    margin:0;
    padding:0;
}
input.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
}
ul.parsley-error-list {
    padding:0;
    margin:0;
    color:red !important;
    list-style-type: none !important;
    font-size:10px;
}