/*AM2010062201 - VERTICAL SLIDE - START*/
body{
	width:100%;
	font-size:14px;
	color:#fff;
	font-family:Tahoma, sans-serif, Helvetica;
}

img a{
	border:none;
}

.row-54{
	position:relative;
	clear:left;
	clear:right;
	width:100%;
	height:54px;
	padding-top:6px;
	padding-left:7px;
	
}



#wrapper-content{
	/*position:absolute;*/
	top:4px;
	/*left:246px;*/
	width:575px;
	height:347px;
}

#side-nav{
	/*position:relative;*/
	float:left;
	margin-top:3px;
	/*margin-left:11px;*/
	margin-right:6px;
	/*width:117px;*/
	width:80px;
	height:162px;
	visibility:hidden;

}

#side-nav span{
	float:right;
	/*margin-right:5px;
	margin-top:12px;*/
	text-align:right;
	cursor:pointer;
}

.row-24{
	position:relative;
	clear:left;
	clear:right;
	width:100%;
	height:40px;
	
}

.section-1{
	margin-top:0;
	background-color:#73B7DA;
}
.section-1 a{
	color:White;
	text-decoration:none;
	font-weight:bold;
	display:block;
}
.section-2{
	background-color:#73B7DA;
}
.section-2 a{
	color:White;
	text-decoration:none;
	font-weight:bold;
	display:block;
}
.section-3{
	background-color:#73B7DA;
}
.section-3 a{
	color:White;
	text-decoration:none;
	font-weight:bold;
	display:block;
}
.section-4{
	background-color:#73B7DA;
}
.section-4 a{
	color:White;
	text-decoration:none;
	font-weight:bold;
	display:block;
}
.section-5{
	background-color:#73B7DA;
}
.section-5 a{
	color:White;
	text-decoration:none;
	font-weight:bold;
	display:block;
}
.section-6{
	background-color:#73B7DA;
}
.section-6 a{
	color:White;
	text-decoration:none;
	font-weight:bold;
	display:block;
}
.remove-right-border{
	background-color:White;
}

.remove-right-border a{
	color:#999;
	text-decoration:none;
	font-weight:bold;
	display:block;
}

#main-container-background{
	position:relative;
	/*margin-left:-17px;*/
	/*width:442px;
	width:427px;*/
	height:1833px;
	background-color:#FFFDFD;
}
#main-container{
	position:relative;
	float:left;
	margin-top:3px;
	margin-left:0px;
	/*width:442px;*/
	width:469px;
	/*height:273px;*/
	height:300px;
	overflow:scroll;
	border:1px solid #aaa;
}
.row-273{
	position:relative;
	clear:left;
	clear:right;
	width:100%;
	height:300px;
	overflow:auto;
}

.row-273 img{
	border:none;
	margin-left:3px;
}
.row-273 img.first{
	margin-left:0;
}

.row-273 a.outbound,a.outbound:link{
	color:#7E8DE8;
}
.row-273 a.outbound:hover{
	color:#999;
}
.row-273 a.outbound-2{
	color:#7E8DE8;
	font-weight:bold;
	text-decoration:none;
}

#wrapper-footer{
	position:relative;
	top:0;
	left:0;
	width:206px;
	height:206px;
	display:none;
}

.smaller{
	font-size:13px;
}
.smaller-9{
	font-size:9px;
	color:#000;
}
.clear{
	position:relative;
	clear:left;
	clear:right;
	padding:5px;
}
.top{
	position:absolute;
	right:5px;
	bottom:5px;
}
.line-height{
	line-height:130%;
}

.overlay{
	position:absolute;
	bottom:-2px;
	left:0;
	width:100%;
	z-index:100;
	color:#fff;
	background-color:#ff0d4c;
	padding:.375em;
	text-transform:uppercase;
	font-weight:bold;
}

/**** HIDDEN ELEMENTS *********/
.top{
	display:none;
}
#mobile-header{
	display:none;
}
/*AM2010062201 - VERTICAL SLIDE - END*/