<table style="width:100%;">
    <tr>
        <td style="font-size:20px; color:#000099; width:100%;" align="center">
        <br>
        </td>
    </tr>
    <tr>
      <td align="center">
        <h1>Coffee Unlimited</h1>
      </td>
      </tr>
</table>
