<%@ Page Language="VB" Theme="" %>
<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%  Response.Redirect("../link.aspx?ProductGuid=" & Server.UrlEncode(Request("ProductGuid")) & "&GroupGuid=" & Server.UrlEncode(Request("GroupGuid")) & "&LanguageGuid=" & Server.UrlEncode(Request("LanguageGuid")))%>