<!--AM2011031801 - ENTERPRISE CSR STAND ALONE - Start-->
<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="CSRCartPark.ascx.vb"
    Inherits="CSRCartPark" %>
<%@ Import Namespace="ExpandIT.EISClass" %>
<%@ Import Namespace="ExpandIT.ExpandITLib" %>
<%  
    If CBoolEx(AppSettings("EXPANDIT_US_USE_CSR")) And csrObj.getSalesPersonGuid() <> "" Then%>
    <%If Not globals.IsCartEmpty Then%>
    <td>
        <asp:Button runat="server" CssClass="AddButton" ID="parkBtn" Text="<%$Resources: Language,ACTION_PARK%>"
            PostBackUrl="~/cart.aspx?save=save" />
    </td>
    <%End If%>
<%End If%>
<!--AM2011031801 - ENTERPRISE CSR STAND ALONE - End-->
