﻿<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="AddToNotesButton.ascx.vb" Inherits="AddToNotesButton" %>
<asp:Button ID="btnNotes" runat="server" Text="Add to Notes" />
<asp:ImageButton ID="imgbtnNotes" runat="server" />
<asp:LinkButton ID="linkbtnNotes" runat="server">Add to Notes</asp:LinkButton>
