<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="BreadcrumbTrail.ascx.vb" Inherits="BreadcrumbTrailControl" %>
<asp:Literal ID="Literal1" runat="server" Text="Level1 > Level2 > Level3"></asp:Literal> 