<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="CatalogTree.ascx.vb"
    Inherits="CatalogTree" %>

<%  If AppSettings("SHOW_EXPANDED_CATALOG") Then%>
        <asp:Literal ID="litOverview" runat="server"></asp:Literal>
<%  Else%>
        <% = globals.catalogTreeHTML %>
<%  End If%>


