<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="CreditCards.ascx.vb"
    Inherits="controls_CreditCards" %>

    <asp:DataList runat="server" SkinID="CreditCards" ID="cards"  style="vertical-align:top;" RepeatDirection="Vertical" CellSpacing="5" RepeatColumns="3">
        <ItemTemplate>
            <%--<img src='<%#Eval("value") %>' alt="<%# getAlt(Eval("value")) %>" />--%>
            <img src='<%#Eval("value") %>' />
        </ItemTemplate>
    </asp:DataList>
