<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="InfoLine.ascx.vb" Inherits="InfoLine" %>
<asp:LinkButton ID="lbInfo" runat="server" Text="<%$Resources: Language,INFO_THIS_SHOP_IS_FOR_DEMO_ONLY %>"/>