<%@ Import Namespace="System.Configuration.ConfigurationManager" %>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="MiniCartText.ascx.vb"
    Inherits="MiniCartText" %>
    <asp:LinkButton ID="lbMiniCart" runat="server" PostBackUrl="~/cart.aspx">3 items in cart</asp:LinkButton>