﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="PageHeader.ascx.vb" Inherits="controls_PageHeader" %>
<h1 class="PageHeader">
    <asp:Label ID="LabelHeader" runat="server" Text="Page Header"></asp:Label>
</h1>