<%@ Master Language="VB" CodeFile="ThreeColumn.master.vb" Inherits="masters_classic_ThreeColumn"
    MasterPageFile="main.master" %>
<%@ Register Src="../../controls/CatalogTree.ascx" TagName="CatalogTree" TagPrefix="uc1" %>
<%@ Register Src="../../controls/Box.ascx" TagName="Box" TagPrefix="uc3" %>
<%@ Register Src="../../controls/LoginBox.ascx" TagName="LoginBox" TagPrefix="uc3" %>
<%@ Register Src="../../controls/ProductListVertical.ascx" TagName="ProductListVertical"   TagPrefix="uc3" %>
<%@ Register Src="../../controls/boxes/MostExpensiveBox.ascx" TagName="MostExpensiveBox"   TagPrefix="uc1" %>
<%@ Import Namespace="ExpandIT.ExpandITLib" %> 
<asp:Content ID="Content1" ContentPlaceHolderID="cphRoot" runat="Server">
    <table id="ContentAreaTable" cellpadding="0" cellspacing="0">
        <tr>
            <td id="MasterContentLeftCell">
                <div id="CatalogArea">
                    <div id="CatalogOverview">
                        <a href="<% = VRoot  %>/catalog_overview.aspx">
                            <% = eis.GetLabel("LABEL_CATALOG_OVERVIEW") %>
                        </a>
                    </div>
                    <div id="CatalogTree">
                        <uc1:CatalogTree ID="CatalogTree2" runat="server" />
                    </div>
                </div>
            </td>
            <td id="MasterContentCenterCell" style="text-align: left">
                <asp:ContentPlaceHolder ID="cphSubMaster" runat="server">
                </asp:ContentPlaceHolder>
            </td>
            <td id="MasterContentRightCell">
                <uc3:LoginBox ID="LoginBox1" runat="server" />
                <br />
                <uc3:ProductListVertical ID="ProductListVertical1" runat="server" maxitems="4" Heading="Most Popular"/>
                <br />             
                <uc1:MostExpensiveBox ID="MostExpensiveBox1" runat="server" />
            </td>
        </tr>
    </table>
</asp:Content>
