<%@ Master Language="VB" CodeFile="TwoColumn.master.vb" Inherits="TwoColumn" CodeFileBaseClass="ExpandIT.MasterPage"
    MasterPageFile="main.master" %>
<%@ Register Src="../../controls/CatalogTree.ascx" TagName="CatalogTree" TagPrefix="uc1" %>
<%@ Register Src="../../controls/Box.ascx" TagName="Box" TagPrefix="uc3" %>
<%@ Import Namespace="ExpandIT.ExpandITLib" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphRoot" runat="Server">
        <table id="ContentAreaTable" cellpadding="0" cellspacing="0">
            <tr>
                <td id="MasterContentLeftCell" style="width: 200px; vertical-align: top">
                    <div id="CatalogArea">
                        <div id="CatalogOverview">
                            <a href="<% = VRoot  %>/catalog_overview.aspx">
                                <% = eis.GetLabel("LABEL_CATALOG_OVERVIEW") %>
                            </a>
                        </div>
                        <div id="CatalogTree">
                            <uc1:CatalogTree ID="CatalogTree2" runat="server" />
                        </div>
                    </div>
                </td>
                <td id="MasterContentCenterCell" style="text-align: left">
                    <asp:ContentPlaceHolder ID="cphSubMaster" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
        </table>
</asp:Content>
