body {
	background: #c8d8ff;
	margin-top: 5px;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
}

div.top {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
div.txt {
	font-size: 12px;
}
.table {
	border: 1px solid #5d8bff;
	background: #ffffff;
}

.td {
	background: #f6e8c8;
	border: 1px solid #5d8bff;
}

.content_table 
{
  width:95%  
}
.ordinal_number_header
{
  text-align: center;
}
.product_number_header
{
  text-align: left;
}
.product_name_header
{
  text-align: left;
}
.price_header
{
  text-align: right;
}
.quantity_header
{
  display: none;
}
.ordinal_number 
{
  text-align: center;
}
.product_number 
{
  text-align: left;
}
.product_name 
{

  text-align: left;
}
.quantity 
{
  display:none;
}
.price 
{
  text-align: right;
}

